<template name="admin">
	<div class="admin">
		<div class="page-title">Administration</div>
		<h1>Tous les espaces</h1>
				<div class="list-group">
					{{#each blogs}}
						<a class="list-group-item" href="{{pathFor 'blogPage'}}">
							<span class="list-group-item-left">{{title}}</span>
								 <a class="blog-list--button-edit" href="{{pathFor 'blogEdit'}}">
									 <i class="fa fa-lg fa-cog"></i>
								</a>
							<span class="blog-list--list-item-code">
								<b>{{blogCode}}</b>
							</span>
						</a>
					{{/each}}
				</div><br><br>
		<h1>Tous les utilisateurs</h1>
		<table>
			<tr>
				<th>Identifiant</th>
				<th>Date de création</th>
				<th>Dernière connexion</th>
				<th>État</th>
			</tr>
			{{#each user}}
				<tr>
					<td>{{emails.[0].address}}</td>
					<td>{{userCreatedAt}}</td>
					<td>{{#if this.status.lastLogin.date}}{{livestamp this.status.lastLogin.date}}{{/if}}</td>
					<td>{{#if isOnline}}<span class="admin--is-connected">Connecté</span>{{else}}<span class="admin--is-disconnected">Déconnecté</span>{{/if}}</td>
				</tr>
			{{/each}}
		</table>
	</div>
</template>