<template name="dataProtection">
	<div class="data-protection">
		<div class="page-title">Protection des données</div>
		<h1>Données publiées sur beekee.ch</h1>
		<p>Beekee.ch suit une politique de protection des données stricte. Toutes les données publiées sur www.beekee.ch sont hébergées en Suisse. La plateforme beekee est donc soumise au droit suisse sur la protection des données.</p><p>Les données restent la propriété exclusive de l'utilisateur. À tout moment, l'utilisateur peut supprimer définitivement toutes les données publiées sur un de ces espaces dans les paramètres de l'espace.</p><p>Sur demande de l'utilisateur, un administrateur peut être amené à accéder à un espace pour résoudre une problème technique. Dans certains cas de collaboration entre l'utilisateur et les responsables de beekee, et avec l'accord explicite de l'utilisateur, les données  peuvent être visulalisées par des tiers dans une perspective de recherche ou de promotion.</p>
	</div>
</template>