<template name="desktopMenu">
	<div class="menu">
              <a class="menu--link-last-posts {{selectedLastPostsClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> Tout afficher ({{postCount}})</a>
              <a class="menu--link-favorites {{selectedFavoritesClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> Favoris ({{favoritesCount}})</a>
<!-- 		<a class="menu-2-link-last-posts {{selectedLastPostsClass}}" href="#">Les dernières publications</a>
 -->		<div class="menu--title menu--title-authors">
			<span class="menu--title-span">AUTEURS</span>
			<ul>
				{{#each authors}}
					<a class="menu--authors filter-author {{selectedAuthorClass}}" data-author="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
		<div class="menu--title menu--title-categories">
			
			<span class="menu--title-span">CATEGORIES</span>
			<ul>
				{{#each categories}}
					<a class="menu--categories filter-category {{selectedCategoryClass}}" data-category="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
		<div class="menu--title menu--title-tags">
			<span class="menu--title-span">MOTS-CLÉS</span><br /><br />
			<ul>
				{{#each tags}}
					<a class="menu--tags filter-tag {{selectedTagClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> <span class="menu--tags-box" data-tag="{{name}}">{{name}}</span> ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
	</div>
</template>