<template name="desktopMenu">
	<div class="menu">
		<a class="menu--link-last-posts {{selectedLastPostsClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> Tout afficher ({{postCount}})</a><br />
		          {{#if isReactive}}
		          <span style="font-size:0.8em">
            <i class="fa fa-refresh fa-spin"></i><a href="#" class="blog-page--button-stop-reactive"><b> Flux en direct</b></a></span>
          {{else}}
          		          <span style="font-size:0.8em">

              <i class="fa fa-refresh"></i><a href="#" class="blog-page--button-reactive"> Flux en direct</a></span>
              {{/if}}
<!-- 		<a class="menu-2-link-last-posts {{selectedLastPostsClass}}" href="#">Les dernières publications</a>
 -->		<div class="menu--title menu--title-authors">
			<i class="menu--icon fa fa-lg fa-users"></i>
			<span class="menu--title-span">AUTEURS</span>
			<ul>
				{{#each authors}}
					<a class="menu--authors filter-author {{selectedAuthorClass}}" data-author="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
		<div class="menu--title menu--title-categories">
			<i class="menu--icon fa fa-lg fa-list"></i>
			<span class="menu--title-span">CATEGORIES</span>
			<ul>
				{{#each categories}}
					<a class="menu--categories filter-category {{selectedCategoryClass}}" data-category="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
		<div class="menu--title menu--title-tags">
			<i class="menu--icon fa fa-lg fa-tags"></i>
			<span class="menu--title-span">TAGS</span><br /><br />
			<ul>
				{{#each tags}}
					<a class="menu--tags filter-tag {{selectedTagClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> <span class="menu--tags-box" data-tag="{{name}}">{{name}}</span> ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		</div>
	</div>
</template>