<template name="desktopMenu">
	<div class="menu">
		<ul>
			<li class="menu--link-last-posts menu--list-element {{selectedLastPostsClass}}" href="#"><i class="menu--caret fa fa-caret-right"></i> Tout afficher <span style="color:grey;font-size:0.8em;">{{postCount}}</span></li>
		</ul>
		<div class="menu--list-title">Auteurs</div>
		<ul>
			{{#each authors}}
				<li class="menu--list-element filter-author {{selectedAuthorClass}}" data-author="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} <span data-author="{{name}}" style="color:grey;font-size:0.8em;">{{nRefs}}</span></li>
			{{/each}}
		</ul>
		<div class="menu--list-title">Catégories</div>
		<ul>
			{{#each categories}}
				<li class="menu--list-element filter-category {{selectedCategoryClass}}" data-category="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} <span data-category="{{name}}" style="color:grey;font-size:0.8em;">{{nRefs}}</span></li>
			{{/each}}
		</ul>
		<div class="menu--list-title">Mots-clés</div>
		<ul>
			{{#each tags}}
				<li class="menu--list-element filter-tag {{selectedTagClass}}" data-tag="{{name}}" href="#"><i class="menu--caret fa fa-caret-right"></i> {{name}} <span data-tag="{{name}}" style="color:grey;font-size:0.8em;">{{nRefs}}</span></li>
			{{/each}}
		</ul>
	</div>
</template>