<template name="indexStudent">
	<div class="blog-list">
		<div class="blog-list--logo"><img src="/img/logo.png" /></div>
			<div class="blog-list--wrapper-text">{{{_ 'blog-list--wrapper-text'}}}</div>
			<form class="blog-list--code-link-form">
				<div class="blog-list--code-wrapper">
					<span>{{_ 'blog-list--code-wrapper'}}</span><br /><br />
					<input class="blog-list--code-input" id="code" type="text" placeholder="{{_ 'blog-list--code-input-placeholder'}}"/><br />
					<button type="submit" class="button button-primary blog-list--button-code-link">{{_ 'blog-list--button-code-link'}}</button>
				</div>
			</form>     
			{{#if blogsVisited.count}}
				<div class="list-group blog-list--visited-blogs">
					<div class="blog-list--visited-title">
						<span>{{_ 'blog-list--visited-title'}}</span><br />
						<a class="blog-list--delete-recent" href="#">{{_ 'blog-list--delete-recent'}}</a>
					</div> 
					{{#each blogsVisited}}
						<a class="list-group-item" href="{{pathFor 'blogPage'}}">
							<span class="list-group-item-left">{{title}}</span>
							<span class="blog-list--list-item-code">
								<b>{{blogCode}}</b>
							</span>
						</a>
					{{/each}}
					<br /><br />
				</div>
			{{/if}}
	</div>
	<div class="blog-list--wrapper">
		<div class="blog-list--lang-wrapper">
			<a href="#" class="blog-list--select-lang {{isLangSelected 'en'}}" data-lang="en">EN</a>
			<a href="#" class="blog-list--select-lang {{isLangSelected 'fr'}}" data-lang="fr">FR</a>
		</div>
	</div>
</template>