<template name="loginHeader">
	<div class="login-header">
	    <div class="header">
	    	<div class="header--wrapper">
		      	<a class="header--button-back-wrapper" href="{{pathFor 'blogsList'}}"><i class="fa fa-2x fa-chevron-left" style=" vertical-align: middle;"></i><span class="header--button-back-text">Retour</span>
		        </a>   
 					{{#if currentUser}}
						<a class="header--button-login" href="{{pathFor 'logout'}}">{{currentUser.username}} <i class="fa fa-sign-out"></i></a>
		 			{{else}}
						<a class="header--button-login" href="{{pathFor 'register'}}">Créer un compte</a>
					{{/if}}
			</div>
		</div>
	</div>
</template>