<template name="mobileMenu">
	<div class="mobileMenu">
		<div class="header--button-close-wrapper-mobile" href="#"><i class="fa fa-2x fa-times" style="vertical-align: middle;"></i><span style="vertical-align:middle"> Fermer</span></div>		
		<a class="header--button-back-wrapper-mobile" href="{{pathFor 'blogsList'}}"><i class="fa fa-chevron-left" style=" vertical-align: middle;"></i> Retour à l'accueil</a>

		<a class="menu--link-last-posts {{selectedLastPostsClass}}" href="{{pathFor 'blogPage' _id=this.blog._id}}">Tout afficher ({{postCount}})</a>
<!-- 		<a class="menu-2-link-last-posts {{selectedLastPostsClass}}" href="#">Les dernières publications</a>
 -->		<div class="menu--title menu--title-authors">
				<i class="fa fa-lg fa-users"></i>
				<span>AUTEURS</span>
			</div>
			<ul>
				{{#each authors}}
					<a class="menu--authors {{selectedAuthorClass}}" href="{{pathFor 'blogPage' _id=this.blogId query=authorQuery}}">{{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		<div class="menu--title menu--title-categories">
			<i class="fa fa-lg fa-list"></i>
			<span>CATEGORIES</span>
		</div>
			<ul>
				{{#each categories}}
					<a class="menu--categories {{selectedCategoryClass}}" href="{{pathFor 'blogPage' _id=this.blogId query=categoryQuery}}">{{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
		<div class="menu--title menu--title-tags">
			<i class="fa fa-lg fa-tags"></i>
			<span>TAGS</span><br /><br />
		</div>
			<ul>
				{{#each tags}}
					<a class="menu--tags {{selectedTagClass}}" href="{{pathFor 'blogPage' _id=this.blogId query=tagQuery}}">{{name}} ({{nRefs}})</a><br />
				{{/each}}
			</ul>
	</div>
</template>