<template name="privacy">
	<div class="privacy">
		<div class="page-title">Politique de confidentialité</div>
		<h1>Informations sur les comptes enseignants</h1>
		<p>Lorsque vous crééz un compte « enseignant », vous devez fournir une adresse e-mail valide ainsi qu’un mot de passe. Ces données ne sont pas publiques et peuvent être modifiées à tout moment. Beekee.ch ne divulguera en aucun cas ces informations à des tiers.</p>
		<h1>Publications, photos, utilisateurs</h1>
		<p>Beekee.ch suit une politique de protection des données stricte. Les données publiées sur beekee.ch sont hébergées sur des serveurs localisés en Suisse. La plateforme beekee est donc soumise au droit suisse sur la protection des données.
		Les publications, photographies, noms d’utilisateurs et toutes autres données publiées sur la plateforme sont la propriété exclusive de l’utilisateur. À tout moment, il peut choisir de supprimer définitivement ces données. En aucun cas beekee.ch ne transmettra ces données à des tiers.</p>
		<h1>Intervention d’un technicien</h1>
		<p>Sur demande de l’utilisateur, un technicien peut accéder à un espace et consulter les données qui s’y trouvent pour résoudre un problème technique.</p>
		<h1>Cookies</h1>
		<p>Comme de nombreux sites internet, beekee.ch utilise des cookies pour faciliter l’utilisation de la plateforme. Les informations contenues dans ces cookies ne sont pas utilisées par beekee.ch dans un autre but.</p>
	</div>
</template>