<template name="registerHeader">
	<div class="login-header">
	    <div class="header">
	    	<div class="header--wrapper">
		      	<a class="header--button-back-wrapper" href="{{pathFor 'blogsList'}}"><i class="fa fa-2x fa-chevron-left" style=" vertical-align: middle;"></i><span class="header--button-back-text">Retour</span>
		        </a>   
 					{{#unless currentUser}}
						<a class="header--button-login" href="{{pathFor 'login'}}"><i class="fa fa-sign-in"></i> S'identifier
						</a>
					{{/unless}}
			</div>
		</div>
	</div>
</template>