<template name="register">
    <div class="register">
        <span>Créer un compte</span><br />
        <form class="register-form">
            <label>Nom d'utilisateur :</label>
            <input type="text"  class="form-control" id="username" value=""><br />
            <label>Mot de passe :</label>
            <input type="password" name="" class="form-control" id="password" value=""><br /><br />
            <button type="submit" class="button register-submit-button">S'enregistrer</button>
            <button class="register-button-cancel">Annuler</button>            
        </form>
    </div>
</template>