<template name="register">
    <div class="register">
        <div class="page-title">Créer un compte</div>
        <form id="register--form" class="register--form">
            <div class="register--wrapper">
                <label><b>E-mail</b></label>
<!--                 {{#if isBox}}
                    <br /><span style="font-size:0.85em;color:grey">Si vous avez déjà un compte sur le site web ou sur une autre box, utilisez le même e-mail.</span><br />
                {{else}}
                    <br /><span style="font-size:0.8em;color:grey">Si vous avez déjà un compte sur une box, utilisez le même e-mail.</span><br />
                {{/if}} -->
                <input type="text"  class="register--input register--input-email form-control email" id="email" value="" autofocus><br /><br />           
                <label><b>Mot de passe</b></label><br />
                <input type="password" name="" class="register--input form-control" id="password" value=""><br />
                {{#if errorMessage}}
                    <div class="login--error">
                        <br /><span style="color:red;">{{t9n errorMessage}}</span><br />
                    </div> 
                {{/if}}  
            </div>
            <div class="register--button-wrapper">
                <button type="submit" class="button button-primary register--button-submit">S'enregistrer</button>
            </div>    
        </form>
    </div>
</template>