<template name="register">
    <div class="register">
        <div class="page-title">Créer un compte</div>
        <form id="register--form" class="register--form">
            <div class="register--wrapper">
                <label>Nom d'utilisateur</label><br />
                <input type="text"  class="register--input form-control" id="username" value="" autofocus><br /><br />
                <label>Mot de passe</label><br />
                <input type="password" name="" class="register--input form-control" id="password" value=""><br />
                {{#if errorMessage}}
                    <div class="login-error">
                        <br /><span style="color:red;">{{errorMessage}}</span><br />
                    </div> 
                {{/if}}  
            </div>
            <div class="register--button-wrapper">
                <button type="submit" class="button button-primary register--button-submit">S'enregistrer</button>
                <button class="button button-cancel register--button-cancel">Annuler</button> 
            </div>    
        </form>
    </div>
</template>