<template name="blogsHeader">
	<div class="blogs-header">
	    <div class="header">
	    	<div class="header--wrapper">
		      	<a class="header--logo-title-wrapper" href="{{pathFor 'blogsList'}}">
<!-- 		      		<img class="header-2-logo" src="/img/logo-laruche.png" />
 -->		      		<div class="header--title"><span style="color:#1a6c98">you</span><span style="color:#38a6e0">Tribe</span></div>
		      	</a>
 					{{#if currentUser}}
						<a class="header--button-login" href="{{pathFor 'logout'}}">{{currentUser.emails.[0].address}} <i class="fa fa-sign-out"></i></a>
		 			{{else}}
		 				<a class="header--button-login" href="{{pathFor 'login'}}"><i class="fa fa-sign-in"></i> Accès enseignant</a>
		 			{{/if}}
			</div>
		</div>
	</div>
</template>