<template name="blogEdit">
	<div class="blog-edit">
	    <div class="blog-page--wrapper">
      <div class="menu">{{> settingsMenu}}</div>
		<div class="page-title">Paramètres du journal</div>
		<div class="chapter-title" id="blog-edit--authors-settings">Gérer les auteurs ({{authorsCount}})</div>
		<div class="blog-edit--chapter-wrapper">
		<ul>
			{{#each authors}}
				<li style="margin-top:5px;margin-left:5px;"><i class="fa fa-user"></i>
 {{name}} <a href="#" class="blog-edit--delete-author"><i style="color:red;font-size:0.8em;" data-name="{{name}}" class="fa fa-trash-o"></i></a></li>
			{{/each}}
		</ul><br />
		<form id="blog-edit--form-add-author" class="blog-edit--form-add-author">
			<input id="authorName" class="blog-edit--input-add-author" style="font-size:1.1em" />
			<button type="submit" class="button button-primary blog-edit--button-submit-add-author"><i class="fa fa-user-plus"></i> Ajouter</button>

		</form>
		</div>
		<div class="chapter-title" id="blog-edit--categories-settings">Gérer les catégories</div>
		<div class="blog-edit--chapter-wrapper">
		<p><i>Liste des catégories...</i></p><br />
		</div>		
				<div class="chapter-title">Syncroniser le journal</div>
		<div class="blog-edit--chapter-wrapper">
		<p>Syncroniser le journal avec le cloud.</p><br />
		      <button class="button button-primary button-send-to-api" href="#"><i class="fa fa-refresh"></i> <span>Syncroniser le journal</span></button><br /><br />
		      <p>Dernière syncronisation : jamais (c'est normal, ça marche pas encore hein)</p>
		 </div>
		<div class="chapter-title">Renommer le journal</div>
		<div class="blog-edit--chapter-wrapper">

    	<form id="blog-edit--form" class="blog-edit--form">		
    		    <label>Nom du journal</label><br />
				<input name="title" id="title" type="text" value="{{title}}" class="blog-edit--input form-control" autofocus/><br /><br />
                {{#if errorMessage}}
                    <div class="blog-edit--error">
                        <br /><span style="color:red;">{{errorMessage}}</span><br />
                    </div> 
                {{/if}}  
				<button type="submit" class="button button-primary blog-edit--button-submit"><i class="fa fa-pencil"></i> Modifier le nom du journal</button>
		</form>
		</div>
		<div class="chapter-title">Supprimer le journal</div>
		<div class="blog-edit--chapter-wrapper">
		<p>Vous pouvez supprimer ce journal et ses publications.</p><br />
			<button class="button button-danger blog-edit--button-delete"><i class="fa fa-trash-o"></i> Supprimer le journal</button>
		</div>
	</div>
	</div>
</template>