<template name="blogItem">
<!-- TODO : add security (server side permissions)-->
	<a class="list-group-item" href="{{pathFor 'blogPage'}}">
		<span class="list-group-item-left">{{title}}</span>
		       {{#if ownBlog}}
       <a class="blog-item--button-edit" href="{{pathFor 'blogEdit'}}">
      		<i class="fa fa-lg fa-cog" style="float:right;vertical-align:middle"></i></a>
      	{{/if}}
      	<span style="font-size:1em;font-family: Helvetica, Arial, Sans-Serif;float:right;margin-right:8px;"><b>{{blogCode}}</b></span>
      		    </a>

</template>