<template name="blogsHeader">
	<div class="blogs-header">
	    <div class="header">
	    	<div class="header--wrapper">
		      	<a class="header--logo-title-wrapper" href="{{pathFor 'blogsList'}}">
		      		<img class="header--logo" src="/img/logo-laruche.png" />
		      		<div class="header--title">bee.box</div>
		      	</a>
 					{{#if currentUser}}
						<a class="blogs-header--logout-button" href="{{pathFor 'logout'}}">(x) {{currentUser.username}}</a>				
		 			{{else}}
						<a class="blogs-header--login-button" href="{{pathFor 'login'}}">S'identifier</a>
						<a class="blogs-header--register-button" href="{{pathFor 'register'}}">Créer un compte</a>
					{{/if}}
			</div>
		</div>
	</div>
</template>