<template name="blogsMenu">
    <div class="menu">
    <a class="menu-link-all-posts" href="{{pathFor 'blogPage'}}">Toutes les publications ({{postCount}})</a>
	<a class="menu-link-last-posts" href="{{pathFor 'blogPage'}}">Les dernières publications</a>
	<div class="menu-title menu-title-authors"><img class="menu-icon-title-authors" src="/img/icon-menu-authors.png" />AUTEURS</div>
		<div class="menu-title menu-title-categories"><img class="menu-icon-title-categories" src="/img/icon-menu-categories.png" />CATEGORIES</div>
	<div class="menu-title menu-title-tags"><img class="menu-icon-title-tags" src="/img/icon-menu-tags.png" />TAGS</div>

    </div>
</template>