<template name="blogsList">
	<div class="blogs-list">
<!-- 		<div class="blogs-list-2-title">com<span style="color:#2a90c6">bee</span>n</div>
 -->				<form class="blogs-list--code-link-form">
	 
		<div class="blogs-list--code-wrapper" style="margin-top:30px">
			<span>Entrez le code d'accès : </span><br /><br /><input style="font-size:1.2em;" id="code" type="text" /><br /><br /><button type="submit" class="button button-primary blogs-list--button-code-link" style="width:100%"><i class="fa fa-play-circle"></i>
 Aller</button>
		</div>
				</form>

{{#if currentUser}}
<div class="list-group">
  		<div style="text-align:center;margin-top:50px;margin-bottom:20px;">
  		<span style="font-size:1.3em;font-weight:400;">Espaces récemment consultés</span></div>
    		{{#each blogs}}
      			{{> blogItem}}
    		{{/each}}
    	</div>
    	{{/if}}
  	</div>
	<div class="blogs-list--wrapper">
		{{#if currentUser}}
			<a href="{{pathFor 'blogSubmit'}}">
				<button class="button button-secondary blogs-list--button-submit-blog"><i class="fa fa-plus"></i> Créer un nouvel espace</button>
			</a>
		{{else}}
			<div style="line-height:1.2em"><span style="color:#1a6c98">bee</span><span style="color:#38a6e0">kee</span> vous permet de créer un espace privé<br />pour que vos élèves partagent des photos et des messages</div>
			<div class="blogs-list--message-connect">Vous êtes enseignant ? <a href="{{pathFor 'login'}}">Connectez-vous</a> pour créer un nouvel espace.</div>
			<div style="margin-top:30px;font-size:0.8em;line-height:1.2em">La plateforme est encore à l'état de prototype. <a href="http://infos.beekee.ch">Plus d'informations sur le projet</a>.</div>

		{{/if}}
	</div>
</template>


<!-- 		<div class="blogs-list-2-message-connect">Afficher les <a href="{{pathFor 'login'}}">informations de connexion</a>.</div>
 -->