<template name="blogEditCategories">
	<div class="blog-edit-categories">
		<div class="page-title">Gérer les catégories</div>
		<div class="page-description">Les catégories servent à classer les publications.<br />À la différence des tags, les catégories sont définies à l'avance par l'enseignant.</div>
		<div class="list-group">
			{{#each categories}}
				<a class="list-group-item" data-category="{{name}}">
					<span class="blog-edit-categories--item-name">{{name}}</span>
					<a class="blog-edit-categories--button-delete-category"  href="#">
						<i class="fa fa-lg fa-trash-o" data-delete-name="{{name}}"></i>
					</a>
					<a class="blog-edit-categories--button-edit-category"  href="#">
						<i class="fa fa-lg fa-pencil" data-edit-category="{{name}}"></i>
					</a>
				</a>
			{{/each}}
		</div>
		<div class="blog-edit-authors--form-wrapper">
			<form id="blog-edit--form-add-category" class="blog-edit--form-add-category">
				<input id="categoryName" class="blog-edit--input-add-category" placeholder="Ajouter une catégorie..." />
				<button type="submit" class="button button-primary blog-edit--button-submit-add-category"><i class="fa fa-plus"></i> Ajouter</button>
			</form>
		</div>
	</div>
</template>