<template name="blogsList">
	<div class="blogs-list">
		<form class="blogs-list--code-link-form">
			<div class="blogs-list--code-wrapper" style="margin-top:30px;padding-top:15px;">
				<span style="font-size:1.1em;">Accéder à un espace :</span><br /><br />
				<input style="font-size:1.1em;height:1.4em;border:solid 1px #dedede;border-radius:3px;padding:3px;" id="code" type="text" placeholder="Entrez un code d'accès"/><br /><br />
				<button type="submit" class="button button-primary blogs-list--button-code-link" style="width:100%">
 Valider</button>
			</div>
		</form>
		{{#if currentUser}}
			<div class="list-group">
  				<div style="text-align:center;margin-top:40px;margin-bottom:20px;">
  					<span style="font-size:1.3em;font-weight:400;">Vos espaces :</span>
  				</div>
    			{{#each blogs}}
    				{{#if ownBlog}}
      					{{> blogItem}}
    				{{/if}}
    			{{/each}}
    		</div>
    	{{else}}
    		{{#if blogsVisitedCount}}
 				<div class="list-group blogs-list--visited-blogs">
  					<div style="text-align:center;margin-top:40px;margin-bottom:20px;">
  						<span style="font-size:1.3em;font-weight:400;">Récemment visité :</span><br /><a class="blogs-list--delete-recent" style="font-size:0.8em;" href="#">(effacer)</a>
  					</div> 
  	    			{{#each blogsVisited}}
      					{{> blogItem}}
           			{{/each}}
<br /><br />
  	</div>
  	    		{{/if}}
  	
    	{{/if}}
  	</div>
	<div class="blogs-list--wrapper">
		{{#if currentUser}}
			<a href="{{pathFor 'blogSubmit'}}">
				<button class="button button-secondary blogs-list--button-submit-blog"><i class="fa fa-plus"></i> Créer un nouvel espace</button>
			</a>
		{{else}}
			<div style="line-height:1.2em"><span style="color:#1a6c98">bee</span><span style="color:#38a6e0">kee</span> permet de partager facilement des photos et des messages.</div>
<!-- 			<div class="blogs-list-2-message-connect">Vous êtes enseignant ? <a href="{{pathFor 'login'}}">Connectez-vous</a> pour créer un nouvel espace.</div>
 -->			
{{#unless isBox}}
 <div style="margin-top:40px;font-size:0.7em;line-height:1.2em">La plateforme est encore à l'état de prototype (<a href="http://infos.beekee.ch">plus d'informations sur le projet</a>).</div>
 {{/unless}}

		{{/if}}
	</div>
</template>


<!-- 		<div class="blogs-list-2-message-connect">Afficher les <a href="{{pathFor 'login'}}">informations de connexion</a>.</div>
 -->