<template name="blogsList">
  <div class="blogs-list">
    {{#if currentUser}}
      <div class="list-group">
          <div style="text-align:center;margin-top:40px;margin-bottom:20px;">
            <span style="font-size:1.3em;font-weight:400;">Vos espaces :</span>
          </div>
          {{#each blogs}}
            {{#if ownBlog}}
                {{> blogItem}}
            {{/if}}
          {{/each}}
        </div>
        {{#unless ownBlogsCount}}
        <div style="text-align:center;margin-top:15px;"><span style="font-size:0.9em">Vous n'avez pas encore créé d'espace.</span></div>
        {{/unless}}
      {{else}}
    <form class="blogs-list--code-link-form">
      <div class="blogs-list--code-wrapper" style="margin-top:30px;padding-top:15px;">
        <span style="font-size:1.1em;">Accéder à un espace</span><br /><br />
        <input class="blogs-list--code-input" id="code" type="text" placeholder="Entrez un code d'accès"/><br />
        <button type="submit" class="button button-primary blogs-list--button-code-link" style="width:100%">
 Valider</button>
      </div>
    </form>      
        {{#if blogsVisitedCount}}
        <div class="list-group blogs-list--visited-blogs">
            <div style="text-align:center;margin-top:40px;margin-bottom:20px;">
              <span style="font-size:1.3em;font-weight:400;">Récemment visité :</span><br /><a class="blogs-list--delete-recent" style="font-size:0.8em;" href="#">(effacer)</a>
            </div> 
              {{#each blogsVisited}}
                {{> blogItem}}
                {{/each}}
<br /><br />
    </div>
            {{/if}}
    
      {{/if}}
    </div>
  <div class="blogs-list--wrapper">
    {{#if currentUser}}
      <a href="{{pathFor 'blogSubmit'}}">
        <button class="button button-secondary blogs-list--button-submit-blog"><i class="fa fa-plus"></i> Créer un nouvel espace</button>
      </a>
    {{else}}
      <div style="line-height:1.2em">Créez votre propre <span style="font-size:0.6em;">mini</span> réseau social pour partager avec vos étudiants, collègues ou amis.</div>
<!--      <div class="blogs-list-2-message-connect">Vous êtes enseignant ? <a href="{{pathFor 'login'}}">Connectez-vous</a> pour créer un nouvel espace.</div>
 -->      


    {{/if}}
    {{#unless isBox}}
 <div style="margin-top:50px;font-size:0.7em;line-height:1.2em;margin-bottom:10px;color:#959595"><em>Cette plateforme est encore en développement, des bugs peuvent survenir.</em><br></div>
 <div class="blogs-list--footer">
<a href="http://infos.beekee.ch">Informations sur le projet</a><a href="{{pathFor 'dataProtection'}}">Protection des données</a><a href="mailto:vincent.widmer@beekee.ch">Nous contacter</a>
</div>

 {{/unless}}
  </div>
</template>


<!--    <div class="blogs-list-2-message-connect">Afficher les <a href="{{pathFor 'login'}}">informations de connexion</a>.</div>
 -->