<template name="blogSubmit">
	<div class="blog-submit">
		<div class="page-title">Créer un journal</div>
		<form id="blog-submit--form" class="blog-submit--form">
			<div class="blog-submit--wrapper">
    		    <label>Nom du journal</label><br />
				<input name="title" id="blog-submit--input-title" type="text" value="" class="blog-submit--input form-control" autofocus />
                {{#if errorMessage}}
                    <div class="blog-submit--error">
                        <br /><span style="color:red;">{{errorMessage}}</span><br />
                    </div> 
                {{/if}}  				
        	</div>
        	<div class="blog-submit--button-wrapper">
				<button type="submit" class="button button-primary blog-submit--button-submit">Créer ce journal</button>
				<button class="button button-cancel blog-submit--button-cancel">Annuler</button>  
			</div> 
		</form>
    </div>
</template>
