<template name="blogPage">
  <div class="blog">
    <div class="blog-content">
      <h3>{{title}}</h3>

	  <div class="posts">
	    {{#each posts}}
	      {{> postItem}}
	    {{/each}}
	  </div>
	  
    {{> uploadedInfo uploads }}


	{{#if currentUser}}
      {{> postSubmit}}
    {{else}}
      <p>Connectez vous pour ajouter une publication</p>
    {{/if}}

    </div>
  </div>
</template>


<template name="uploadedInfo">
    <div class="documentList">
        <ul class="list-inline">
            {{#each this}}
                <li class="documentItem">
                    <a href="/upload/{{path}}"><img src="{{src}}"></a><br/>
                    <label>{{ name }}</label> <br/>
                    {{ size }} B<br>
                    {{#if _id}}
                        <a class="btn btn-danger deleteUpload">Delete</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>