<template name="blogUsers">
	<div class="blog-users">
		<div class="blog-users--wrapper">
			<div class="page-title">{{_ 'blog-users--page-title'}}</div>
			<div class="page-description">{{_ 'blog-users--page-description'}}</div>
			{{#if createUserAllowed}}
				<form id="blog-users--form">
					<input id="authorName" class="blog-users--input-choose-author" placeholder="{{_ 'blog-users--input-choose-author-placeholder'}}" />
					<button type="submit" class="button button-primary blog-users--button-submit-author"> {{_ 'blog-users--submit-author'}}</button>
				</form>
			{{else}}
				<div class="list-group">
					{{#each authors}}
						<a class="list-group-item blog-users--button-select-author" data-author="{{name}}">
							<span>{{name}}</span>
							{{#if optionIsSelected name}}
								<a class="blog-users--user-checked"  href="#">
									<i class="fa fa-lg fa-check" data-delete-author="{{name}}"></i>
								</a>
							{{/if}}
						</a>
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</template>