<template name="blogPage">
  <div class="blog-page">
    <div class="blog-page--wrapper">
      <div class="blog-page--menu-wrapper">{{> desktopMenu}}</div>
      <div class="blog-page--main"> 
        {{#if newMessages2}}
          <div class="blog-page--notification-panel blog-page--refresh">
            <a href="#">{{newMessages2}} nouveau(x) message(s)</a>
          </div>
        {{/if}}
<!--             {{#if isReactive}}
      <span style="font-size:1.1em;cursor:pointer;float:right;margin-top:-20px;color:grey;" class="blog-page-2-button-stop-reactive">
              <i style="color:#26b610;" class="fa fa-toggle-on"></i><span style="font-size:0.8em;"> direct</span></span>
          {{else}}
            <span style="font-size:1.1em;cursor:pointer;float:right;margin-top:-20px;color:grey;" class="blog-page-2-button-reactive">
              <i style="color:grey;" class="fa fa-toggle-off"></i><span style="font-size:0.8em;"> direct</span></span>
              {{/if}} -->
        {{#if posts.length}}
          {{#each posts}}
            {{> postItem}}
          {{/each}}
        {{else}}
          {{#if codePanelState}}
            {{#if ownBlog}}
              <div id="codePanel" class="blog-page--no-post-message">
                <div style="background-color:white;margin-bottom:10px;border:solid 1px #ddd;border-radius:4px;padding:15px;">
                  <div class="hideCodePanel" style="float:right;margin-top:-10px;margin-right:-9px;cursor:pointer;">
                    <i class="fa fa-times-circle"></i>
                  </div>
                  <span style="font-size:1.1em;">Code d'accès de l'espace : <div style="border-radius:20px;display:inline-block;padding:10px;background-color:#2A8BBF;color:white;letter-spacing:0.1em;"><b>{{blog.blogCode}}</b></div> <br /><br />
                    <span style="font-size:0.8em;">Transmettez ce code à vos élèves pour qu'ils rejoignent cet espace.<br /><br />Ajoutez des auteurs et des catégories dans les paramètres (icône <i class="fa fa-lg fa-cog" style="color:grey"></i>)</span>
                  </span>
                  </div>
                </div>
               {{/if}}
                {{/if}}
                <div class="blog-page--no-post-message">
              <div style="background-color:white;border:solid 1px #ddd;border-radius:4px;padding:15px;">
                <span>Il n'y pas encore de publication à afficher...</span><br />
                </div>

              </div>
        {{/if}}
      </div>
    </div>
  </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72195513-1', 'auto');
    ga('send', 'pageview');
  </script>
</template>