<template name="blogPage">
  <div class="blog">
    <div class="blog-content">
      <h3>{{title}} ({{postCount}})</h3>

	  <div class="posts">
	    {{#each posts}}
	      {{> postItem}}
	    {{/each}}
	  </div>
	  

    <div class="images">
    {{#each images}}
      <div>
   
<a href="{{this.url store='images'}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>

      </div>
    {{/each}}
    </div>


	{{#if currentUser}}
      {{> postSubmit}}
    {{else}}
      <p>Connectez vous pour ajouter une publication</p>
    {{/if}}

    </div>
  </div>
</template>
