<template name="blogUsers">
	<div class="blog-users">
	    <div class="blog-page--wrapper">
			<div class="page-title">S'identifier</div>
				<div class="page-description">Choisissez un nom d'utilisateur</div>


	    {{#if createUserAllowed}}
			<div style="text-align:center;margin-left:auto;margin-right:auto">
			<input id="authorName" class="blog-users--input-choose-author" style="font-size:1.1em" placeholder="Entrez un nom..." />
			<button type="submit" class="button button-primary blog-users--button-submit-author"> Valider</button>
			</div>
		{{else}}
		<div class="list-group">
			{{#each authors}}
				<a class="list-group-item blog-users--button-select-author" data-author="{{name}}">
					<span style="margin-left:10px;font-size:0.9em">{{name}}</span>
					{{#if optionIsSelected name}}
      					<a class="blog-users--button-delete-author"  href="#" style="float:right">
      						<i class="fa fa-lg fa-check" style="color:green;vertical-align:middle" data-delete-author="{{name}}"></i>
      					</a>
      		    	{{/if}}
    			</a>
    		{{/each}}
    	</div>
    	{{/if}}

		</div>
	</div>
</template>



<!-- <template name="blogUsers">
	<div class="blog-users">
	    <div class="blog-page-2-wrapper">
			<div class="page-title">S'identifier</div>

		<div class="list-group">
			{{#each authors}}
				<a class="list-group-item blog-users-2-button-select-author" data-author="{{name}}">
					<span style="margin-left:10px;font-size:0.9em">{{name}}</span>
					{{#if optionIsSelected name}}
      					<a class="blog-users-2-button-delete-author"  href="#" style="float:right">
      						<i class="fa fa-lg fa-check" style="color:green;vertical-align:middle" data-delete-author="{{name}}"></i>
      					</a>
      		    	{{/if}}
    			</a>
    		{{/each}}
    	</div>
		</div>
	</div>
</template> -->