<template name="blogList">
	<div class="blog-list">
		<div class="blog-list--logo"><img src="/img/logo.png" /></div>
		{{#if currentUser}}
			{{#if ownBlogs.count}}
				<div class="list-group">
					<div class="blog-list--blogs-title">
						<span>{{_ 'blog-list--blogs-title'}}</span>
					</div>
					{{#each ownBlogs}}
						<a class="list-group-item" href="{{pathFor 'blogPage'}}">
							<span class="list-group-item-left">{{title}}</span>
								 <a class="blog-list--button-edit" href="{{pathFor 'blogEdit'}}">
									 <i class="fa fa-lg fa-cog"></i>
								</a>
							<span class="blog-list--list-item-code">
								<b>{{blogCode}}</b>
							</span>
						</a>
					{{/each}}
				</div>
			{{else}}
				<div class="blog-list--no-blog">{{_ 'blog-list--no-blog'}}</div>
			{{/if}}
		{{else}}
			<div class="blog-list--wrapper-text">{{{_ 'blog-list--wrapper-text'}}}</div>
			<form class="blog-list--code-link-form">
				<div class="blog-list--code-wrapper">
					<span>{{_ 'blog-list--code-wrapper'}}</span><br /><br />
					<input class="blog-list--code-input" id="code" type="text" placeholder="{{_ 'blog-list--code-input-placeholder'}}"/><br />
					<button type="submit" class="button button-primary blog-list--button-code-link">{{_ 'blog-list--button-code-link'}}</button>
				</div>
			</form>     
			<div class="blog-list--new-space-wrapper">
				<span>- {{_ 'blog-list--new-space-wrapper'}} -</span><br><br><br>
				<a href="{{pathFor 'login'}}"><button class="button button-primary">{{_ 'blog-list--new-space-button'}}</button></a>
			</div>
<!-- 			<div class="blog-list-2-example">
				{{_ "blog-list-2-example-1"}} <a href="{{pathFor 'blogPage' _id='oYFmo4WHSt5RqGGPP'}}">{{_ "blog-list-2-example-2"}}</a> {{_ "blog-list-2-example-3"}}
			</div> -->
			{{#if blogsVisited.count}}
				<div class="list-group blog-list--visited-blogs">
					<div class="blog-list--visited-title">
						<span>{{_ 'blog-list--visited-title'}}</span><br />
						<a class="blog-list--delete-recent" href="#">{{_ 'blog-list--delete-recent'}}</a>
					</div> 
					{{#each blogsVisited}}
						<a class="list-group-item" href="{{pathFor 'blogPage'}}">
							<span class="list-group-item-left">{{title}}</span>
							<span class="blog-list--list-item-code">
								<b>{{blogCode}}</b>
							</span>
						</a>
					{{/each}}
					<br /><br />
				</div>
			{{/if}}
		{{/if}}
	</div>
	<div class="blog-list--wrapper">
		{{#if currentUser}}
			<a href="{{pathFor 'blogSubmit'}}">
				<button class="button button-primary blog-list--button-submit-blog"><i class="fa fa-plus"></i> {{_ 'blog-list--button-submit-blog'}}</button>
			</a>
		{{else}}
		{{/if}}
<!-- 		{{#unless isBox}}
 			<div class="blog-list-2-footer-wrapper">
				<a class="blog-list-2-footer-about" href="http://infos.beekee.ch">{{_ 'blog-list-2-footer-about'}}</a>
				<a class="blog-list-2-footer-privacy" href="{{pathFor 'privacy'}}">{{_ 'blog-list-2-footer-privacy'}}</a>
				<a class="blog-list-2-footer-contact" href="mailto:vincent.widmer@beekee.ch">{{_ 'blog-list-2-footer-contact'}}</a>
			</div>
		{{/unless}} -->
		<div class="blog-list--lang-wrapper">
			<a href="#" class="blog-list--select-lang {{isLangSelected 'en'}}" data-lang="en">EN</a>
			<a href="#" class="blog-list--select-lang {{isLangSelected 'fr'}}" data-lang="fr">FR</a>
		</div>
		{{#if isBox}}
			{{#if currentUser}}
				<div class="blog-list--shutdown"><i class="fa fa-power-off"></i><br><span>Shutdown</span></div>
			{{/if}}
		{{/if}}
	</div>
</template>