
/* ----- login template ----- */

.login--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;
	border-radius: 4px;

	background-color: white;
	text-align:left;
}

.login--input {
	width: 98%;

	font-size: 1em;
}

.login--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}

.login--button-submit {
	float:right;
	margin:0px -7px 0 15px;
}

.login--button-cancel {
	float:right;
	margin-top:0px;
}


/* ----- logout template ----- */

.logout--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;
	border-radius: 4px;	

	background-color: white;
	text-align:center;
}

.logout--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}

.logout--button-confirm {
	float:right;
	margin:0px -7px 0 15px;
}

.logout--button-cancel {
	float:right;
	margin-top:0px;
}


/* ----- register template ----- */

.register--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;
	border-radius: 4px;	

	background-color: white;
	text-align:left;
}

.register--input {
	width: 98%;

	font-size: 1em;
}

.register--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}

.register--button-submit {
	float:right;
	margin:0px -7px 0 15px;
}

.register--button-cancel {
	float:right;
	margin-top:0px;
}