/*
base.css
Authors : Vincent Widmer & Stéphane Morand;
*/

html {
font-family: 'Droid Sans', sans-serif;


}
body {
	background-color:#f1f1f1;

/*	font-family: 'Roboto',Arial;
*/	font-family: 'Droid Sans', sans-serif;
/*font-family: 'PT Sans', sans-serif;
*/}

.button {
	cursor: pointer;
/*	font-family: 'Droid Sans', sans-serif;
*/
}