/*
base.css
Authors : Vincent Widmer & Stéphane Morand;
*/

@font-face {
    font-family: "Montserrat-Light";
    src: url('/fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: "Montserrat-UltraLight";
    src: url('/fonts/Montserrat-UltraLight.otf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('/fonts/Montserrat-Bold.otf');
}


html {
	font-family: 'Montserrat-Light', sans-serif;
}

body {
	background-color:#f6f6f6;
    background-color:#f5f2f0;
    background-image: url("/img/background_pattern.png");

}

a {
	text-decoration: none;
	color: #2a8bbf;
}

a:hover {
	color: #145679;
}
a:hover, a:active {
	text-decoration: underline;
}

a:active {
	color: #145679;
	}

.fixed_to_absolute{
  position:absolute !important;
  background-color: blue;
  border:solid 5px red;
}

.button {
	display:inline-block;
	height:36px;
	padding: 0 25px 0 25px;
	border-style:solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color:white;
	font-size:1em;
	line-height:26px;

	cursor: pointer;
}

/*.button:active {
	background-color: grey;
	border-color: grey;
}*/

.button-primary {
	border-color:#258240;

	background-color:#32ae55;
	background-color: #32ae55; background-image: -webkit-gradient(linear, left top, left bottom, from(#32ae55), to(#3E9657));
 	background-image: -webkit-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -moz-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -ms-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -o-linear-gradient(top, #32ae55, #3E9657);
 	background-image: linear-gradient(to bottom, #32ae55, #3E9657);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#32ae55, endColorstr=#3E9657);
}

.button-primary:hover {
	 border-color: #1b5f2e;
 	background-color: #278642; background-image: -webkit-gradient(linear, left top, left bottom, from(#278642), to(#2f7242));
 	background-image: -webkit-linear-gradient(top, #278642, #2f7242);
 	background-image: -moz-linear-gradient(top, #278642, #2f7242);
 	background-image: -ms-linear-gradient(top, #278642, #2f7242);
 	background-image: -o-linear-gradient(top, #278642, #2f7242);
 	background-image: linear-gradient(to bottom, #278642, #2f7242);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#278642, endColorstr=#2f7242);
}

.button-primary:hover {
	background-color:#2f7242;
	background-image: none;
}

.button-primary:active {
	background-color:grey;
	border-color:grey;
	background-image: none;
}

.button-secondary {
	border-color: #206e98;

	background-color: #2A90C6; background-image: -webkit-gradient(linear, left top, left bottom, from(#2A90C6), to(#3270AE));
 	background-image: -webkit-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -moz-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -ms-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -o-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: linear-gradient(to bottom, #2A90C6, #3270AE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2A90C6, endColorstr=#3270AE);
}

.button-secondary:hover {
	background-color:#3270AE;
	background-image: none;
}

.button-secondary:active {
	background-color:grey;
	border-color:grey;
	background-image: none;
}

.button-cancel {
	padding: 0 15px 0 15px;

	border-color: #cacaca;

 	background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#afafaf));
 	background-image: -webkit-linear-gradient(top, #E6E6E6, #afafaf);
 	background-image: -moz-linear-gradient(top, #E6E6E6, #afafaf);
 	background-image: -ms-linear-gradient(top, #E6E6E6, #afafaf);
 	background-image: -o-linear-gradient(top, #E6E6E6, #afafaf);
 	background-image: linear-gradient(to bottom, #E6E6E6, #afafaf);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#afafaf);

	color:black;
}

.button-cancel:hover {
	background-color:#afafaf;
	background-image: none;
}

.button-cancel:active {
	background-color:grey;
	border-color:grey;
	background-image: none;
}

.button-danger {
	padding: 0 25px 0 25px;

	border-color: #98242f;

 	background-color: #c52f3d; background-image: -webkit-gradient(linear, left top, left bottom, from(#c52f3d), to(#992530));
 	background-image: -webkit-linear-gradient(top, #c52f3d, #992530);
 	background-image: -moz-linear-gradient(top, #c52f3d, #992530);
 	background-image: -ms-linear-gradient(top, #c52f3d, #992530);
 	background-image: -o-linear-gradient(top, #c52f3d, #992530);
 	background-image: linear-gradient(to bottom, #c52f3d, #992530);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c52f3d, endColorstr=#992530);	

	color:white;
}

.button-danger:hover {
	background-color:#992530;
	background-image: none;
}

.button-danger:active {
	background-color:grey;
	border-color:grey;
	background-image: none;
}

/* Page title header */
.page-title {
	margin:15px 0 30px 0;
	padding-left:10px;
	padding-right:10px;

	font-size: 2.1em;
	text-align: center;
}

/* Chapter title */
.chapter-title {
	margin:30px 0 5px 0;
	padding-left:5px;

	font-size: 1.4em;
	text-align: left;
}

.list-group {
	display: block;
	width:70%;
	margin-left:auto;
	margin-right:auto;

	cursor: pointer;
}

.list-group-item {
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;

	border: 1px solid #ddd;

	background-color: #fff;

	color:black;
}

.list-group-item:hover {
	background-color: #3270ae;
	
	color:white;
	text-decoration: none;
}

.list-group-item:active {
	background-color: grey;
	
	color:white;
}

.list-group-item:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item:last-of-type {
	margin-bottom: 0;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

input.error {
 	background-color:rgb(255, 231, 231);
 }

 #login-buttons-reset-password-button {
	display:inline-block;
	height:36px;
	padding: 0 25px 0 25px;
	border-style:solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color:white;
	font-size:1em;
	line-height:26px;

	cursor: pointer; 
	border-color:#258240;

	background-color:#32ae55;
	background-color: #32ae55; background-image: -webkit-gradient(linear, left top, left bottom, from(#32ae55), to(#3E9657));
 	background-image: -webkit-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -moz-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -ms-linear-gradient(top, #32ae55, #3E9657);
 	background-image: -o-linear-gradient(top, #32ae55, #3E9657);
 	background-image: linear-gradient(to bottom, #32ae55, #3E9657);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#32ae55, endColorstr=#3E9657);
 }

 .accounts-centered-dialog {
text-align: center;
padding:10px;
 	}
 #reset-password-new-password-wrapper {
margin-top:5px;
margin-bottom: 5px;
 	}