/*
blogs.css
Authors : Vincent Widmer & Stéphane Morand;
*/



/* ----- blog-edit template ----- */

/*.blog-edit--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;

	background-color: white;
	text-align:left;
}*/
.blog-edit--subtitle {
	width:75%;
	margin-left:auto;
	margin-right:auto;
margin-top: 30px;
margin-bottom: 10px;
color:grey;
font-size:0.9em;
}

.blog-edit--description {
	width:75%;
margin-left:auto;
margin-right:auto;
color:grey;
font-size:0.8em;
margin-top:6px;
margin-bottom:20px;
}

.blog-edit--list-item {
height: 20px;
padding:10px 14px;

background-color:white;
border-right:solid 1px #ddd;
border-left:solid 1px #ddd;	
border-bottom:solid 1px #ddd;	

table-layout: fixed;
display: table;
width: 75%;
cursor: pointer;
margin-left:auto;
margin-right:auto;
}

a.blog-edit--list-item {
	color:black;
}

a.blog-edit--list-item:hover {
	text-decoration: none;
}

.blog-edit--list-item:hover {
	background-color:#ddd;
}

.blog-edit--list-item:active {
	color:white;
	background-color:#353535;
}

.blog-edit--list-title {
	font-size:0.9em;
}

.blog-edit--list-subtitle {
	font-size:1em;
}

.blog-edit--list-subtitle {
	margin-top:5px;
	color:grey;
	font-size:0.8em;
}

.blog-edit--list-wrapper-left {
	vertical-align:middle;	
	display: table-cell;
	width:7%;
	font-size: 1.1em;
}

.blog-edit--list-wrapper-center {
	vertical-align:middle;	
	display: table-cell;
	width:50%;
}

.blog-edit--list-wrapper-right {
display: table-cell;
vertical-align: middle;

}

.blog-edit--list-right-title {
	color:grey;
}

.blog-edit--list-right-title i {
	font-size: 1.5em;
}

.blog-edit--list-right-title i.fa-toggle-on {
	color:green;
}

.blog-edit--list-right-title-code {
	font-family: Helvetica, Arial, Sans-Serif;
}

.blog-edit--list-item:first-of-type {
	border-top:solid 1px #ddd;

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.blog-edit--list-item:last-of-type {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.blog-edit--select-wrapper {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.blog-edit--input {
	width: 98%;

	font-size: 1em;
}

.blog-edit--input-add-category {
	font-size: 1em;
	padding: 8px;
	box-sizing: border-box;
}




.blog-edit--input-add-author {
	font-size: 1em;
	padding: 8px;
	box-sizing: border-box;	
}

.blog-edit--select-permissions {
	height: 43px;
	padding: 10px 14px;
	border-top: none;
	border: solid 1px #ddd;
	border-radius: 2px;
	width: 79%;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	font-size: 0.9em;
	   background: url(img/arrow.png) no-repeat right white;
}

.blog-edit--select-permissions:hover {
	background-color:#ddd;
}

/*.blog-edit--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}*/

.blog-edit--chapter-wrapper {
	padding:10px;
	background-color: white;
	border: 1px solid #e8e8e8;
	border-radius: 3px;	
}

.blog-edit--chapter-wrapper2 {
font-size: 0.9em;
text-align: right;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

/*.blog-edit--button-cancel {
	float:right;
	margin-top:0px;
}*/

.blog-edit--button-delete-wrapper {
	text-align: center;
}

/*.blog-edit--button-delete {
	margin-bottom: 20px;
}*/


/* ----- blog-edit-categories template ----- */

.blog-edit-categories--item-name {
	margin-left:10px;
	font-size:0.9em;
}

.blog-edit-categories--button-delete-category {
	float:right;
}

.blog-edit-categories--button-delete-category i {
	vertical-align:middle;
}

.blog-edit-categories--button-edit-category {
	float:right;
	margin-right:10px;
}

.blog-edit-categories--button-edit-category i {
	vertical-align:middle;
}

/*.blog-edit-categories table {
width:100%;
margin-bottom:15px;
    border-collapse: collapse;
    font-size:0.9em;
}
.blog-edit-categories caption {
    font-size:16px;
color:#252525;
}
    .blog-edit-categories td, .blog-edit-categories th {
        border:solid 1px #46AECB;
        padding:5px;
        text-align: center;
    }
    .blog-edit-categories th {
        background-color: #46AECB;
        color:white;
font-size:12px;
    }
    .blog-edit-categories td {

  }
.blog-edit-categories tr:nth-child(odd) {
    background-color: #D5EBF2;
}*/

/* ----- blog-edit-authors template ----- */

.blog-edit-authors--form-wrapper {
	margin-top:30px;
	text-align:center;
}

.blog-edit-authors--name {
	margin-left:10px;
	font-size:0.9em;
}

.blog-edit-authors--button-delete-author {
	float:right;
}

.blog-edit-authors--button-delete-author i {
	vertical-align:middle;
}

.blog-edit-authors--button-edit-author {
	float:right;
	margin-right:10px;
}

.blog-edit-authors--button-edit-author i {
	vertical-align:middle;
}


/* ----- blog-page template ----- */

.blog-page--wrapper {
	table-layout: fixed;
	display: table;
	width: 100%;
}

.blog-page--menu-wrapper {
width: 150px;
display: table-cell;
vertical-align: top;
padding: 8px 60px 0px 0px;
	/*border-left: solid 1px #e8e8e8;*/

	font-size: 1em;
}

.blog-page--alert {
	font-size: 0.9em;
	text-align:center;
	background-color: white;
	margin-bottom: 10px;
	border: solid 1px #ddd;
	border-radius: 2px;
	padding: 15px;
}

.blog-page--alert h3 {
	margin-bottom:5px;
}

.blog-page--alert i {
	color:#2a8bbf;
	vertical-align: middle;
}

.blog-page--alert button {
	margin-top:8px;
}

.blog-page--notification-panel {
/*	border:solid 1px #e8e8e8;
*/	padding:5px;
	height:20px;
	line-height:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-25px;
	margin-bottom: 8px;
	background-color: white;
	text-align: center;
	font-size: 0.8em;
	width:35%;
	border-radius: 3px;
	cursor:pointer;
/*	position:fixed;
*/	background-color: #2A90C6;
	color:white;
}

.blog-page--notification-panel a {
	color:white !important;
}

.blog-page--main {
margin-top:10px;
}

.blog-page-2-main {
	width:450px;
	display: table-cell;
	padding: 15px 0px 20px 0px;
}

/*menu -> menu.css */

.blog-page--no-post-message {
	margin-top:20px;
	text-align: center;
	background-color:white;
	border:solid 1px #ddd;
	border-radius:2px;
	padding:15px;
}

.blog-page--code-panel {
	text-align: center;
	background-color:white;
	margin-bottom:10px;
	border:solid 1px #ddd;
	border-radius:2px;
	padding:15px;
}

.blog-page--code-panel-own-blog {
	margin-top:20px;
	text-align: center;
	background-color:white;
	margin-bottom:10px;
	border:solid 1px #ddd;
	border-radius:2px;
	padding:15px;
}

.blog-page--code-panel-title {
	font-size:1.1em;
}

.blog-page--code-panel-code {
	border-radius:20px;
	display:inline-block;
	padding:10px;
	background-color:#2A8BBF;
	color:white;
	letter-spacing:0.1em;
	font-family: Helvetica, Arial, Sans-Serif;
}

.blog-page--code-panel-code span {
	font-size:0.8em;
}

/* ----- blog-submit template ----- */

.blog-submit--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;

	background-color: white;
	text-align:left;
}

.blog-submit--input {
	font-size: 1em;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}

.blog-submit--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}

.blog-submit--button-submit {
	float:right;
	margin:0px -7px 0 15px;
/*	width:170px;
*/}

.blog-submit--button-cancel {
	float:right;
	margin-top:0px;
}


/* ----- blog-list template ----- */

.blog-list--title {
	margin:30px 0 30px 0;
	padding-left:10px;
	padding-right:10px;

	cursor: default;

	text-align: center;
	font-size: 3.2em;
	letter-spacing: -0.06em;
	color:#3270ae;
    font-family: "Montserrat-UltraLight";
}

.blog-list--title:hover {
	color:#2a90c6;
}

.blog-list--button-edit {
	font-size:0.8em;
}

.blog-list--button-edit i {
	float:right;
	vertical-align:middle;
}

.blog-list--wrapper {
	text-align: center;
}

.blog-list--blogs-title {
	text-align:center;
	margin-top:40px;
	margin-bottom:20px;
	font-size:1.3em;
	font-weight:400;
}

.blog-list--list-item-code {
	font-size:1em;
	font-family: Helvetica, Arial, Sans-Serif;
	float:right;
	margin-right:8px;
}

.blog-list--code-wrapper {
	width: 38%;
padding: 28px;margin-bottom:30px;margin-left:auto;margin-right:auto;text-align:center;background-color:white;	border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
/* -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
margin-top:30px;
padding-top:15px;
}

.blog-list--code-wrapper span {
	font-size:1.1em;
}

.blog-list--code-wrapper button {
	width:100%;
}

.blog-list--no-blog {
	text-align:center;
	margin-top:15px;
	font-size:0.9em
}

.blog-list--code-input {
	font-size: 1em;
	margin-bottom: 8px;
height: 100%;
border: solid 1px #d9d9d9;
border-radius: 1px;
padding: 14px;
width: 100%;
box-sizing: border-box;
background-color: #fff6e0;
}

.blog-list--button-submit-blog {
	margin:25px 0 0 0;
}

.blog-list--message-connect {
	display: block;
	margin-top: 50px;

	font-size:0.9em;
}

.blog-list--footer {
	font-size: 0.9em;
}

.blog-list--footer a {
	color:#6e6e6e;
	padding:2px 8px;
	border-left: solid 1px grey;
}

.blog-list--footer a:first-of-type {
border-left: none

}

.blog-list--visited-title {
	text-align:center;
	margin-top:40px;
	margin-bottom:20px;
}

.blog-list--visited-title span {
	font-size:1.3em;
	font-weight:400;
}

.blog-list--visited-title a {
	font-size:0.8em;
}

.blog-list--wrapper-text {
	line-height:1.2em;
}

.blog-list--wrapper-text span {
	font-size:0.6em;
}

.blog-list--wrapper-beta-warning {
	margin-top:50px;
	font-size:0.7em;
	line-height:1.2em;
	margin-bottom:10px;
	color:#959595;
}


/* ----- blog-users template ----- */

.blog-users--wrapper {
	table-layout: fixed;
	display: table;
	width: 100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.blog-users--input-choose-author {
/*	font-size: 1.1em;
height: 1.4em;*/
border: solid 1px #dedede;
/*border-radius: 3px;
padding: 3px;*/

	font-size: 1em;
	padding: 8px;
/*	width: 100%;
*/	box-sizing: border-box;
}

.blog-users--button-select-author {
	padding-left:10px;
	font-size:0.9em;
}

.blog-users--user-checked {
	float:right
}

.blog-users--user-checked i {
	color:green;
	vertical-align:middle;
}