/*
blogs.css
Authors : Vincent Widmer & Stéphane Morand;
*/



/* ----- blog-edit template ----- */

/*.blog-edit--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;

	background-color: white;
	text-align:left;
}*/

.blog-edit--input {
	width: 98%;

	font-size: 1em;
}

/*.blog-edit--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}*/

.blog-edit--chapter-wrapper {
	padding:10px;
	background-color: white;
	border: 1px solid #e8e8e8;
	border-radius: 3px;	
}



/*.blog-edit--button-cancel {
	float:right;
	margin-top:0px;
}*/

.blog-edit--button-delete-wrapper {
	text-align: center;
}

/*.blog-edit--button-delete {
	margin-bottom: 20px;
}*/


/* ----- blog-item template ----- */

.blog-item--button-edit {
	font-size:0.8em;
}


/* ----- blog-page template ----- */

.blog-page--wrapper {
	table-layout: fixed;
	display: table;
	width: 100%;
}

.blog-page-2-main {
	width:450px;
	display: table-cell;
	padding: 15px 0px 20px 0px;
}

/*menu -> menu.css */

.blog-page--no-post-message {
	margin-top:20px;
	text-align: center;
}


/* ----- blog-submit template ----- */

.blog-submit--wrapper {
	margin:0 0 20px 0;
	padding: 20px 7px 20px 7px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;

	background-color: white;
	text-align:left;
}

.blog-submit--input {
	width: 98%;

	font-size: 1em;
}

.blog-submit--button-wrapper {
	width: 60%;
	margin-left:auto;
	margin-right:auto;	
}

.blog-submit--button-submit {
	float:right;
	margin:0px -7px 0 15px;
/*	width:170px;
*/}

.blog-submit--button-cancel {
	float:right;
	margin-top:0px;
}


/* ----- blogs-list template ----- */

.blogs-list--title {
	margin:30px 0 30px 0;
	padding-left:10px;
	padding-right:10px;

	cursor: default;

	text-align: center;
	font-size: 3.2em;
	letter-spacing: -0.06em;
	color:#3270ae;
    font-family: "Montserrat-UltraLight";
}

.blogs-list--title:hover {
	color:#2a90c6;
}

.blogs-list--wrapper {
	text-align: center;
}

.blogs-list--code-wrapper {
	width:40%;padding:10px;margin-bottom:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid 1px #38a6e0;background-color:white;	border-radius: 4px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(191,217,224,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(191,217,224,1);
box-shadow: 0px 0px 5px 0px rgba(191,217,224,1);

}

.blogs-list--button-submit-blog {
	margin:25px 0 0 0;
}

.blogs-list--message-connect {
	display: block;
	margin-top: 50px;

	font-size:0.9em;
}