/*
blogs.css
Authors : Vincent Widmer & Stéphane Morand;
*/
.blogs-layout-wrapper {
	width:100%;
	padding-top:60px;

	text-align:center;
/*	border:solid 1px yellow;
*/}

.blogs-layout-wrapper a {
		text-decoration: none;
}

.blogs-list-title {
	margin:20px 0 40px 0;

	font-size: 2.5em;
}

.blog-link-title {
	line-height: 25px;	
	text-decoration: none;
}

.blogs-button-submit-blog {
	display: inline-block;
	margin: 50px 0 0 0;

	text-decoration: none;
/*	font-size: 1.1em;
*/
	height:36px;
	width:220px;
	border:solid 1px #3e9657;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

	background-color:#32ae55;

	color:white;
	font-size:1em;

}

.blogs-button-submit-blog:hover {
	background-color:#3e9657;
}