/*
header.css
Authors : Vincent Widmer & Stéphane Morand;
*/


.header {
	position: fixed;
	height:52px;
	width:100%;

	border-bottom: solid 1px #e3e3e3;

	background-color: #77b3d4;
	background-color: white;

	opacity: 0.9;
/*	box-shadow:0 0 2px 0 #cfcfcf;
*/	line-height: 52px;
}

/*.header * {
border: solid 1px blue;
}*/

.header--wrapper {
	width:730px;
	height:100%;

	margin-left:auto;
	margin-right: auto;
}

/*.header--wrapper a {
	text-decoration: none;
}*/

.header--button-menu-wrapper {
	display:none;
	float:left;
	vertical-align:middle;
	margin-right:6px;

/*	line-height:44px;
*/
	cursor: pointer;
}

.header--button-back-wrapper {
	float:left;
	vertical-align:middle;

/*	line-height:46px;
*/	width:40px;
}

.header--button-back-text {
	margin-left:6px;
	vertical-align: top;
}

.header--logo {
	float:left;
	margin-top:11px;
	width:20px;
	margin-right:1px;
	vertical-align: middle;

/*	border: solid 0px red;
*/}

.header--select-author-wrapper {
	float:right;

	vertical-align: middle;
}

.header--select-author {
	width:100px;
	font-family: inherit;
    border-color:#999; /* Font styling trick for webkit browsers */
	font-size: 0.8em;
/*	background-color: green;
*/
border-radius: 12px;
border:solid 1px #2a8bbf;
height: 30px;
width:80px;
color:black;
text-indent: 0.2em;
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
   background: url('img/icon-carret-down.png') no-repeat right;

padding:0 10px 0 1px;
    }

.header--select-author::-ms-expand {
    display: none;
}

.header--button-login {
	float:right;
	vertical-align:middle;
	margin-left:10px;

/*	line-height:46px;
*/}

.header--button-setings {
	float:right;
	vertical-align:middle;
	margin-left:10px;

/*	line-height:46px;
*/	color: grey;

/*	border: solid 1px yellow;
*/}

.header--title {
	float:left;
	margin:0px 0 0 5px;
	vertical-align: middle;


	text-decoration: none;
	color:#3270ae;
	font-size:1.5em;
	border:solid 0px green;
}

.header--title:hover {
	color:#2a90c6;
}

.header--login {
	float:right;
	margin: 0 40px 0 0;
	height:100%;

	line-height:46px;
	font-size: 1em;
}

.header--page-name {
display:inline-block;
text-align:center;
width: 400px;
margin-left:75px;


}

.header--button-back-wrapper-mobile {
	padding-top:5px;
	padding-left:20px;
	padding-bottom:5px;
	margin-left:0px;
	width: 100%;
	border-top:solid 1px white;
	border-bottom:solid 1px white;
}

.header--button-close-wrapper-mobile {
	padding-top:5px;
	padding-left:10px;
margin-bottom:12px;
cursor: pointer;}
