/*
header.css
Authors : Vincent Widmer & Stéphane Morand;
*/


.header {
	position: fixed;
	height:46px;
	width:100%;

	border-bottom: solid 1px #cfdde4;

	background-color: #77b3d4;
	background-color: white;

	opacity: 0.9;
	box-shadow:0 0 5px 0 #cfcfcf;
}

.header--wrapper {
	width:730px;
	height:100%;

	margin-left:auto;
	margin-right: auto;
}

.header--wrapper a {
	text-decoration: none;
}

.header--logo-title-wrapper {
	float:left;
	vertical-align:middle;

	line-height:42px;
}

.header--logo {
	float:left;
	margin-top:11px;
	width:20px;
	margin-right:1px;
	vertical-align: middle;

	border: solid 0px red;
}

.header--button-back {
	float:left;
	margin-top:9px;
	width:16px;
	margin-right:1px;
	vertical-align: middle;

	border: solid 0px red;
}

.header--title {
	float:left;
	margin:2px 0 0 5px;
	vertical-align: middle;


	text-decoration: none;
	color:#3270ae;
	font-size:1.5em;
	border:solid 0px green;
}

.header--title:hover {
	color:#2a90c6;
}

.header--login {
	float:right;
	margin: 0 40px 0 0;
	height:100%;

	line-height:46px;
	font-size: 1em;
}
