/*
header.css
Authors : Vincent Widmer & Stéphane Morand;
*/


.header {
	position: fixed;
	height:46px;
	width:100%;

	border-bottom: solid 1px #b9d3e0;

	background-color: #77b3d4;
	background-color: white;

	opacity: 0.9;
	box-shadow:0 0 5px 0 #cfcfcf;
}

.header--wrapper {
	width:730px;
	height:100%;

	margin-left:auto;
	margin-right: auto;
}

.header--wrapper a {
	text-decoration: none;
}

.header--logo {
	width:20px;
	margin-top:10px;
	display: inline-block;
}

.header--title {
	margin:0 0 0 5px;
	display: inline-block;

	text-decoration: none;
	color:#3270ae;
	font-size:1.5em;
	line-height:40px;	
}

.header--title:hover {
	color:#2a90c6;
}

.header--login {
	float:right;
	margin: 0 40px 0 0;
	height:100%;

	line-height:46px;
	font-size: 1em;
}
