.menu {
	width:235px;
	display: table-cell;
	vertical-align: top;
	padding: 35px 0 0 0;

/*	border:solid 1px red;
*/}

.menu a:visited {
	text-decoration: none; 
	color:black; 
}

.menu-link-all-posts {
		display: block;

	font-size: 0.95em;
}

.menu-link-last-posts {
	display: block;
	margin: 20px 0 20px 0;

	font-size: 0.95em;
}

.menu-title {
	margin:25px 0 0 0;
	color:grey;
	font-size: 0.75em;
	font-weight: 600;
}

.menu-icon-title-authors {
margin-left:5px;margin-bottom:-2px;margin-right:5px;width:24px;}

.menu-icon-title-categories {
	margin-left:5px;margin-bottom:-2px;margin-right:5px;width:20px;
}

.menu-icon-title-tags {
	margin-left:5px;margin-bottom:-2px;margin-right:5px;width:20px;
}