/*
menu.css
Authors : Vincent Widmer & Stéphane Morand;
*/

.desktop-menu--list li {
	font-size: 0.75em;
	padding: 6px;
	color: #2A90C6;	
	cursor: pointer;
	border: 1px solid #eef0f3;
}

.desktop-menu--list li:hover {
	background-color: white;
}

.desktop-menu--list li > span {
	color: grey;
	font-size: 0.8em;
}

.desktop-menu--list-title {
	font-size: 0.7em;
	color:grey;
	text-transform: uppercase;
	margin-top:18px;
	margin-bottom: 5px;
}

.desktop-menu--list-element-selected {
	border: solid 1px #e8e8e8;
	background-color: white;
	font-weight: bold;
}

.desktop-menu--list-element-disabled {
	color: #c5c5c5 !important;
}


/* slideout-menu */

.slideout-menu--header {
	font-size: 0.9em;
	list-style-type: none;
	background-color: #2a8bbf;
	color: white;
	padding: 40px 10px 15px 15px;
}

.slideout-menu--header-left-element {
	display: table-cell;
	width:80%
}

.slideout-menu--header-right-element {
	display: table-cell;
	width:10%;
	font-family: Helvetica, Arial, Sans-Serif;
}

.slideout-menu--list-settings li {
	padding:10px;
	font-size: 0.9em;
	cursor: pointer;
}

.slideout-menu--list-settings li > i {
	margin-right:10px;
}

.slideout-menu--list-settings li:first-of-type {
}

.slideout-menu--list-settings li:last-of-type {
	margin-bottom:16px;
}

.slideout-menu--list-settings li:hover {
	background-color:#eef0f3;
}

.slideout-menu--filters-list { /* hide menu if desktop */
	display:none;
}

.slideout-menu--list:first-of-type {
	padding-top: 20px;
	border-top: solid 1px #e6e6e6;
}

.slideout-menu--list li {
	padding: 8px;
	font-size: 0.9em;
	cursor: pointer;
}

.slideout-menu--list li > span {
	color:grey;font-size:0.8em;

}

.slideout-menu--list li:hover {
	background-color: #eef0f3;
}

.slideout-menu--list-element-selected {
	background-color: #eef0f3;
}

.slideout-menu--list-title {
	color: grey;
	text-transform: uppercase;
	font-size:0.8em;
	padding:20px 0 10px 10px
}

.slideout-menu--list-element-disabled {
	color: #c5c5c5;
}









/*.menu--link-favorites {
	display: block;
	margin: 10px 0 0px 0;

	font-size: 0.9em;
	color:#2A90C6;
}

.menu--link-favorites-selected {
	font-family: "Montserrat-Regular";
	color: #2c5267;
}

.menu--link-sort-selected {
font-family: "Montserrat-Regular";
color: #2c5267;
}

.menu--title {
	margin:20px 0 -2px 0;

	color:#a0a0a0;
	font-size: 0.8em;
/*	font-weight: 500;
*//*	border:solid 1px red;
*/}

.menu--categories {
	display: inline-block;
		margin: 5px 0 0px 10px;

	color: #2A90C6;
}

.menu--categories:first-of-type {
	margin-top: 8px;
}

/*.menu--authors {
	display: inline-block;
	margin: 5px 0 0px 10px;

	color: #2A90C6;
}*/


.menu--authors {
	font-size:0.8em;
	padding:6px;
	color: #2A90C6;
}

.menu--author-selected {
	border:solid 1px #e8e8e8;
	background-color: white;
	font-weight: bold;
}

.menu--authors:first-of-type {
	margin-top:8px;
}

.menu--authors a:visited {
	color:white;
}

/*.menu--author-selected {
font-family: "Montserrat-Regular";
}*/

.menu--tags {
	display: inline-block;
	width:auto;
	margin: 5px 0 0px 10px;
}

/*.menu--tag-disabled span {
	background-color:grey;

}*/

.menu--tags-box {
	display: inline-block;
	padding:6px;
	background-color: #2A90C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color:white;
}

.menu--tags:first-of-type {
	margin-top: -1px;
}

.menu--tags a:visited {
	color:white;
}

.menu--tag-selected {
	color: #2c5267;
}

a.menu--tag-selected span.menu--tags-box {
	background-color: #28527c;
}

.menu--caret {
	display: none;
}

a.menu--link-sort-selected i.menu--caret {
	display:inline;
}

a.menu--link-favorites-selected i.menu--caret {
	display:inline;
}

a.menu--tag-selected i.menu--caret {
	display:inline;
}

a.menu--author-selected i.menu--caret {
	display:inline;
}

a.menu--category-selected i.menu--caret {
	display:inline;
}

.menu--icon {
	vertical-align:middle;
	font-size:1em;
}


.menu--title-span {
	font-size: 0.9em;
	vertical-align:middle
}*/

