/*
menu.css
Authors : Vincent Widmer & Stéphane Morand;
*/


.menu {
	width:225px;
	display: table-cell;
	vertical-align: top;
	padding: 10px 0 0 0;

	font-size: 1em;
}

.menu a:visited {
	text-decoration: none; 
	color:inherit; 
}

.menu--link-all-posts {
	display: block;

	font-size: 0.9em;
	color: #3270ae;
}

.menu--link-last-posts {
	display: block;
	margin: 12px 0 20px 0;

	font-size: 0.9em;
}

.menu--title {
	margin:25px 0 -2px 0;

	color:grey;
	font-size: 0.8em;
	font-weight: 500;
}

.menu--icon-title-authors {
	margin: 0 5px -2px 5px;
	width:22px;
}

.menu--icon-title-categories {
	margin: 0 5px -2px 5px;
	width:18px;
}

.menu--icon-title-tags {
	margin: 0 5px -2px 5px;
	width:18px;
}

.menu--tags {
	display: inline-block;
	width:auto;
	margin: 5px 0 0px 0;
	padding:6px;

	background-color: #3270ae;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color:white;
}