/*
posts.css
Authors : Vincent Widmer & Stéphane Morand;
*/


/* ----- post-edit template ----- */

.post-edit--image {
	width:50%;
	margin-top:3px;
}

.post-edit--image-wrapper {
	text-align:center;
}

.post-edit--spinner {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.post-edit--input-file-wrapper {
	display: block;
	width:200px;	
	height:34px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom:20px;

	border:solid 1px #206e98;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #2A90C6; background-image: -webkit-gradient(linear, left top, left bottom, from(#2A90C6), to(#3270AE));
 	background-image: -webkit-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -moz-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -ms-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -o-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: linear-gradient(to bottom, #2A90C6, #3270AE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2A90C6, endColorstr=#3270AE);	

	text-align: center;
	text-decoration: none;
	font-size:1em;
	line-height:34px;
	color:white;

	cursor: pointer;
}

.post-edit--input-file-wrapper:hover {
 	border-color: #185372;
 	background-color: #21719c; background-image: -webkit-gradient(linear, left top, left bottom, from(#21719c), to(#275686));
 	background-image: -webkit-linear-gradient(top, #21719c, #275686);
 	background-image: -moz-linear-gradient(top, #21719c, #275686);
 	background-image: -ms-linear-gradient(top, #21719c, #275686);
 	background-image: -o-linear-gradient(top, #21719c, #275686);
 	background-image: linear-gradient(to bottom, #21719c, #275686);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#21719c, endColorstr=#275686);
 }

/* CSS Tric to hide original file input */
.post-edit--input-file {
	position: fixed;
	top: -1000px;
}

.post-edit--button-delete-image-wrapper {
	margin:3px 0 10px 0;
	
	text-align: center;
}

.post-edit--textarea {
	width:99%;
	height:50px;

	font-family: inherit;
	font-size: 0.9em;

	resize:vertical;
}

/*.post-edit--button-submit {
	float:right;
	margin:4px 0 0 0;
}*/

.post-edit--button-submit {
	display: block;
	width:502px;
	margin-left:auto;
	margin-right:auto;
}

/*.post-edit--button-cancel {
	float:right;
}*/


/* ----- post-item template ----- */

.post-item {
	margin:10px 0 20px 0;
	padding: 4px 7px 10px 7px;
	width: 488px;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e8e8e8;
	border-radius: 3px;	

	background-color: white;
}

.post-item--button {
	float:right;
	padding:3px 8px 5px 8px;

	border-top:solid 1px #c5c5c5;
	border-bottom:solid 1px #c5c5c5;	

	text-decoration:none;
	font-size:.8em;
	color:grey;
	text-shadow:0 -1px 0 rgba(255,255,255,.3);

	cursor:pointer;
}

.post-item--button:hover {
	background-color:#dedede;
}

.post-item--button:active {
	border-color:grey;
	background-color:grey;
}

.post-item--button-edit {
	border-right:solid 1px #c5c5c5;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.post-item--button-delete {
	border-left:solid 1px #c5c5c5;
	border-right:solid 1px #c5c5c5;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.post-item--author {
	display: inline-block;
	margin: 0px 0 0 0;

	color: #5996b8;
	font-weight: 600;
	font-size: 0.9em;
}

.post-item--spinner {
	text-align: center;
}

.post-item--date {
	display:inline-block;
	margin: 5px 0 0 0;

	color: grey;
	font-size: 0.8em;	
}

.post-item--image-wrapper {
	margin-top:11px;	
	text-align:center;
}

.post-item--image {
	max-width:100%;	
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.post-item--text {
	margin: 12px 0 5px 0;

	font-size: 0.9em;
	white-space: pre; /* render line breaks */
	word-break:break-word;	
}

.post-item--tags {
	display: inline-block;
	margin: 10px 0 0px 0;
	padding:6px;

	background-color: #2A90C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color:white;
	font-size: 0.8em;
}

.post-item--tag-selected {
	background-color: #28527c;
}


/* ----- post-submit template ----- */

.post-submit--image {
	width:50%;
	margin-top:3px;
}

.post-submit--image-wrapper {
	margin-top:11px;	
	text-align:center;
}

.post-submit--input-file-wrapper {
	display: block;
	width:200px;	
	height:34px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom:30px;

	border:solid 1px #206e98;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #2A90C6; background-image: -webkit-gradient(linear, left top, left bottom, from(#2A90C6), to(#3270AE));
 	background-image: -webkit-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -moz-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -ms-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -o-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: linear-gradient(to bottom, #2A90C6, #3270AE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2A90C6, endColorstr=#3270AE);	

	text-align: center;
	text-decoration: none;
	font-size:1em;
	line-height:30px;
	color:white;

	cursor: pointer;
}

.post-submit--input-file-wrapper:hover {
 	border-color: #185372;
 	background-color: #21719c; background-image: -webkit-gradient(linear, left top, left bottom, from(#21719c), to(#275686));
 	background-image: -webkit-linear-gradient(top, #21719c, #275686);
 	background-image: -moz-linear-gradient(top, #21719c, #275686);
 	background-image: -ms-linear-gradient(top, #21719c, #275686);
 	background-image: -o-linear-gradient(top, #21719c, #275686);
 	background-image: linear-gradient(to bottom, #21719c, #275686);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#21719c, endColorstr=#275686);
 }

/* CSS Tric to hide original file input */
.post-submit--input-file {
	position: fixed;
	top: -1000px;
}

.post-submit--textarea {
	width:97.5%;

	font-family: inherit;
	font-size: 1em;

	background-color: #fff;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
padding: 4px 6px;
border-radius: 4px;

}

.post-submit--input-tags {
	width:99%;
	margin-top:20px;
		
	font-family: inherit;
	font-size: 1em;
}

.post-submit--button-submit {
	display: block;
	width:502px;
	margin-left:auto;
	margin-right:auto;
}

.posts-header--button-submit{
	float:right;
	margin:4px 0 0 20px;
}