/*
posts.css
Authors : Vincent Widmer & Stéphane Morand;
*/


/* ----- post-edit template ----- */

.post-edit--title {
	margin:20px 0 25px 0;

	font-size: 1.2em;
}

.post-edit--image {
	width:100%;
	margin-top:3px;
}

.post-edit--button-delete-image-wrapper {
	margin:3px 0 10px 0;
	
	text-align: center;
}

.post-edit--textarea {
	width:99%;
	height:80px;

	font-family: inherit;
	font-size: 0.9em;

	resize:vertical;
}

.post-edit--button-edit {
	float:right;
	margin-left:10px;
}

.post-edit--button-cancel {
	float:right;
}


/* ----- post-item template ----- */

.post-item {
	margin:10px 0 20px 0;
	padding: 4px 7px 15px 7px;
	width: 470px;
	margin-left:auto;
	margin-right:auto;

	border: 1px solid #e2e3e7;

	background-color: white;
}

.post-item--button {
	float:right;
	padding:3px 8px 3px 8px;

	border-top:solid 1px #c5c5c5;
	border-bottom:solid 1px #c5c5c5;	

	text-decoration:none;
	font-size:.8em;
	color:grey;
	text-shadow:0 -1px 0 rgba(255,255,255,.3);

	cursor:pointer;
}

.post-item--button:hover {
	background-color:#dedede;
}

.post-item--button:active {
	border-color:grey;
	background-color:grey;
}

.post-item--button-edit {
	border-right:solid 1px #c5c5c5;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.post-item--button-delete {
	border-left:solid 1px #c5c5c5;
	border-right:solid 1px #c5c5c5;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.post-item--icon-button-edit {
	height:15px;
	margin:1px 0 -1px 0;	
}

.post-item--icon-button-delete {
	height:15px;
	margin:1px 0 -1px 0;
}

.post-item--author {
	display: inline-block;
	margin: 0px 0 0 0;

	color: #5996b8;
	font-weight: 600;
	font-size: 0.9em;
}

.post-item--date {
	display:inline-block;
	margin: 5px 0 0 0;

	color: grey;
	font-size: 0.8em;	
}

.post-item--image-wrapper {
	margin-top:11px;	
	text-align:center;
}

.post-item--image {
	max-width:100%;
}

.post-item--text {
	margin: 12px 0 0 0;

	font-size: 0.9em;
}


/* ----- post-submit template ----- */

.post-submit--title {
	margin:20px 0 25px 0;

	font-size: 1.2em;
}

.post-submit--image {
	width:100%;
	margin-top:3px;
}

.post-submit--image-wrapper {
	margin-top:11px;	
	text-align:center;
}

.post-submit--input-file-wrapper {

	display: block;
	width:200px;	
	height:34px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom:20px;

	border:solid 1px #206e98;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #2A90C6; background-image: -webkit-gradient(linear, left top, left bottom, from(#2A90C6), to(#3270AE));
 	background-image: -webkit-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -moz-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -ms-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: -o-linear-gradient(top, #2A90C6, #3270AE);
 	background-image: linear-gradient(to bottom, #2A90C6, #3270AE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2A90C6, endColorstr=#3270AE);	

	text-align: center;
	text-decoration: none;
	font-size:1em;
	line-height:34px;
	color:white;

	cursor: pointer;
}

.post-submit--input-file-wrapper:hover {
 	border-color: #185372;
 	background-color: #21719c; background-image: -webkit-gradient(linear, left top, left bottom, from(#21719c), to(#275686));
 	background-image: -webkit-linear-gradient(top, #21719c, #275686);
 	background-image: -moz-linear-gradient(top, #21719c, #275686);
 	background-image: -ms-linear-gradient(top, #21719c, #275686);
 	background-image: -o-linear-gradient(top, #21719c, #275686);
 	background-image: linear-gradient(to bottom, #21719c, #275686);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#21719c, endColorstr=#275686);
 }

/* CSS Tric to hide original file input */
.post-submit--input-file {
	position: fixed;
	top: -1000px;
}

.post-submit--textarea {
	width:99%;
	height:80px;

	font-family: inherit;
	font-size: 0.9em;

	resize:vertical;
}

.post-submit--button-submit {
	float:right;
	margin: 0 0 0 15px;
}

.post-submit--button-cancel {
	float:right;
}

/*.post-submit-button {
	height:36px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-decoration: none;
	font-size:1em;
}

.post-submit-send-button {
	margin: 5px 0 0 0;

	width:140px;
	border:solid 1px #3e9657;


	background-color:#32ae55;

	color:white;

}

.post-submit-send-button:hover {
	background-color:#3e9657;
}

.post-submit-cancel-button {
	margin: 5px 0 0 10px;

	width:140px;
	border:solid 1px #8a3a3a;


	background-color:#ae3232;

	color:white;

}

.post-submit-cancel-button:hover {
	background-color:#8a3a3a;
}*/


/* ----- posts-header template ----- */

.posts-header--blog-title {
	display: inline-block;
	margin-left: 10px;

	color: #7e7e7e;
}

.posts-header--logout-button {
	float:right;

	line-height: 46px;
	text-decoration: none;
}

.posts-header--logout-button:hover {
	text-decoration: underline;;
}

.posts-header--login-button {
	float:right;
	margin:0 0 0 20px;

	line-height: 46px;
	text-decoration: none;
}

.posts-header--login-button:hover {
	text-decoration: underline;;
}

.posts-header--register-button {
	float:right;

	line-height: 46px;
	text-decoration: none;	
}

.posts-header--register-button:hover {
	text-decoration: underline;;
}

.posts-header--button-submit{
	float:right;
	margin:5px 0 0 20px;
}


/* ----- post-layout template ----- */

.post-layout--wrapper {
	table-layout: fixed;
	display: table;
	padding-top:46px;
	margin-left:auto;
	margin-right:auto;
	width:730px;
}

.post-layout--wrapper a {
	text-decoration: none;
}

.post-layout--main {
	width:450px;
	display: table-cell;
	padding: 15px 0px 20px 0px;
}