/*
posts.css
Authors : Vincent Widmer & Stéphane Morand;
*/

.post {
	margin:10px 0 20px 0;
	padding: 8px 8px 15px 8px;
	width: 90%;

	border: 1px solid #e2e3e7;

	background-color: white;
}

.button-post {
	float:right;
	padding:3px 8px 3px 8px;

	text-decoration:none;
	font-size:.8em;
	color:grey;
	text-shadow:0 -1px 0 rgba(255,255,255,.3);

	cursor:pointer;
}

.button-post:hover {
	background-color:#dedede;
}

.button-post-edit {
	border-top:solid 1px #c5c5c5;
	border-right:solid 1px #c5c5c5;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom:solid 1px #c5c5c5;
}

.button-post-delete {

	border-top:solid 1px #c5c5c5;
	border-left:solid 1px #c5c5c5;
	border-right:solid 1px #c5c5c5;
	border-bottom:solid 1px #c5c5c5;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.icn-button-post-edit {
	height:15px;
}

.icn-button-post-delete {
	height:15px;
}

.post-author {
	display: inline-block;
	margin: 5px 0 0 0;

	color: #5996b8;
	font-weight: 600;
	font-size: 0.9em;
}

.post-date {
	display:inline-block;
	margin: 5px 0 0 0;

	color: grey;
	font-size: 0.9em;	
}

.post-text {
	margin: 20px 0 0 0;
}

.post-edit-title {
	margin:10px 0 25px 0;

	font-size: 1.2em;
}

.post-edit-textarea {
	width:450px;
	height:50px;
}

.post-submit-title {
	margin:10px 0 25px 0;

	font-size: 1.2em;
}

.post-submit-textarea {
	width:450px;
	height:50px;
}