/*
z_mobile.css
Authors : Vincent Widmer & Stéphane Morand;
*/

@media (max-width: 750px) {
.menu {
	display:none;
}

.post-item {
	width:96%;
}

.post-item--image{
	width:100%;
}

.post-layout--wrapper {
width:100%;

}

.post-layout--main {
	width:100%;

}

.blogs-layout--wrapper {
width:100%;

}

.posts-header--blog-title {
	font-size:0.8em;
}

.posts-header--button-text {
	display:none;
}

.posts-header--logout-button {
	font-size:0.9em;
}

.posts-header--button-submit{
	margin:5px 0 0 10px;
}

.header--wrapper {
	width:96%;
}
.header--title {
	display:none;
}

.header--logo {
	margin-left:5px;
}

.header--button-submit-post {
width:50px;
margin:5px 5px 0 0;

}

.logout--wrapper{
	width:100%;
}

.logout--button-wrapper {
	width:90%;
}

.login--wrapper {
	width:95%;
}

.login--button-wrapper {
	width:90%;
}

.register--wrapper {
	width:95%;
}

.register--button-wrapper {
	width:90%;
}

.list-group {
	width:95%;
}

.blogs-list--message-connect {
	font-size:0.9em;
}
}