@media (max-width: 750px) {
.menu {
	display:none;
}

.post {
	width:97%;
}
.post-layout-wrapper {
width:96%;
border:solid 1px red;
}

.post-layout-main {
	width:100%;
	border:solid 1px blue;

}

.header-wrapper {
	width:96%;
}
.header-title {
	display:none;
}

.header-logo {
	margin-left:5px;
}

.header-button-submit-post {
width:50px;
margin:5px 5px 0 0;

}
}