<template name="slideoutMenu">
	<div class="slideout-menu">			
		<li class="slideout-menu--header">
			<span class="slideout-menu--header-left-element" style="">Code d'accès</span>
			<span class="slideout-menu--header-right-element">{{blog.blogCode}}</span>
		</li>
		<ul class="slideout-menu--list-settings">
			{{#if ownBlog}}
				<li class="slideout-menu--settings"><i class="fa fa-cog" aria-hidden="true"></i>Paramètres</li>
			{{/if}}
			<li class="slideout-menu--exit"><i class="fa fa-times-circle" aria-hidden="true"></i>Quitter cet espace</li>
		</ul>
		<div class="slideout-menu--filters-list">
			<ul class="slideout-menu--list">
				<li class="slideout-menu--show-all {{selectedShowAll}}" href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
 <span>Tout afficher </span><span class="desktop-menu--nRef">{{postCount}}</span></li>
			</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-favorites {{selectedFavorites}}">
				<i class="fa fa-star-o fa-fw"></i> <span>Mes favoris </span><span class="slideout-menu--nRef">{{favoritesCount}}</span>
			</li>
		</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-files {{selectedFiles}}">
				<i class="fa fa-files-o fa-fw"></i> <span>Fichiers </span><span class="slideout-menu--nRef">{{filesCount}}</span>
			</li>
		</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-images {{selectedImages}}">
				<i class="fa fa-picture-o fa-fw"></i> <span>Images </span><span class="slideout-menu--nRef">{{imagesCount}}</span>
			</li>
		</ul>
			<div class="slideout-menu--list-title">Catégories</div>
			<ul class="slideout-menu--list">
				{{#each categories}}
					<li class="filter-category {{selectedCategoryClass}} {{isDisabled categoriesNRef}}" data-category="{{name}}" href="#"><span data-category="{{name}}">{{name}} </span><span class="desktop-menu--nRef" data-category="{{name}}">{{categoriesNRef}}</span></li>
				{{/each}}
			</ul>
			<div class="slideout-menu--list-title">Auteurs</div>
			<ul class="slideout-menu--list">
				{{#each authors}}
					<li class="filter-author {{selectedAuthorClass}} {{isDisabled authorNRef}}" data-author="{{name}}" href="#"><span data-author="{{name}}">{{name}} </span><span class="desktop-menu--nRef" data-author="{{name}}">{{authorNRef}}</span></li>
				{{/each}}
			</ul>

			<div class="slideout-menu--list-title">Mots-clés</div>
			<ul class="slideout-menu--list">
				{{#each tags}}
					<li class="filter-tag {{selectedTagClass}} {{isDisabled tagsNRef}}" data-tag="{{name}}" href="#"><span data-tag="{{name}}">{{name}} </span><span class="desktop-menu--nRef" data-tag="{{name}}">{{tagsNRef}}</span></li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>