<template name="postsHeader">
	<div class="posts-header">
		<div class="header">
			<div class="header--wrapper">
				<div class="header--left">
					<a class="header--logo"><img src="/img/logo_header.png" /></a>
					<i class="ion-navicon header--button-menu"></i>
					<span class="header--blog-title">{{blog.title}} 
						{{# if ownBlog}}
							<a href="{{pathFor 'blogEdit' _id=this.blog._id}}">
								<i class="header--settings-button fa fa-cog"></i>
							</a>
						{{/if}}
					</span>

				</div>			
				<div class="header--right">
					<a href="{{pathFor 'blogUsers' _id=this.blog._id}}" class="header--user-name">
						<i class="ion-ios-person header--user-icon"></i>
						<span >{{authorName}}</span>
					</a>
					{{#if submitAllowed}}
						<a href=""> 
							<i href="#blog-page--post-submit" class="ion-android-add posts-header--button-submit open-popup-link"></i>
						</a> 
					{{/if}}
				</div>							
			</div>
		</div>
	</div>
</template>