<template name="postItem">
	<div class="post">
 	{{#if currentUser}}


	<a href="{{pathFor 'postEdit'}}">
  		<div class="button button-post button-post-edit">
  			<img class="icn-button-post-edit" src="/img/icon-button-editpost.png" />
  		</div>
  	</a>	
 	<div class="button button-post button-post-delete delete" href="#">
 		<img class="icn-button-post-delete" src="/img/icon-button-deletepost.png" />
 	</div>
	{{/if}}   
 	<div class="post-author">{{author}}</div>
 	<div class="post-date">• {{livestamp submitted}}</div>
        {{#if image}}
      <div class="post-image">
      <a href="{{image.url store='images'}}" target="_blank"><img src="{{image.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="post-img-image thumbnail" /></a>
      </div>
{{/if}}
 	<div class="post-text">{{body}}</div>     
	</div>
</template>

