<template name="postSubmitHeader">
	<div class="post-submit--header">
	    <div class="header">
	    	<div class="header--wrapper">
	    		<a class="header--button-back-wrapper" href="{{pathFor 'blogPage' _id=blog._id}}">
	    			<i class="fa fa-2x fa-chevron-left" style=" vertical-align: middle;"></i>
<!-- 	    			<span class="header-2-button-back-text">Retour</span>
 -->		        </a>
<!-- 				{{#unless currentUser}}
 -->
					<div class="header--select-author-wrapper">
						<a href="{{pathFor 'blogUsers' _id=this.blog._id}}"><i class="fa fa-lg fa-user" aria-hidden="true"></i>
 {{authorName}}</a>
					</div>
<!-- 				{{/unless}}
 -->			</div>
		</div>
	</div>
</template>