<template name="postEdit">
    <div class="post-edit">
        <form name="post">
            <div class="post-edit-title">Modifier la publication</div>


        {{#if image}}

    <a href="{{image.url store='images'}}" target="_blank"><img src="{{image.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>-
        <a class="btn btn-danger deleteImage" href="#">Enlever l'image</a>
        {{else}}
            <input type="file" name="file" class="myFileInput">
        {{/if}}

            <textarea name="body" id="body" class="post-edit-textarea">{{body}}</textarea><br />

            <button type="submit" class="button button-primary">Modifier</button>

            <button type="cancel" class="button" href="{{pathFor 'blogPage'}}">Annuler</button>
        </form>
    </div>
</template>
