  <template name="postItem">
  <div class="post-item">
      {{#if editAllowed}}
      <a href="{{pathFor 'postEdit'}}">
        <div class="post-item--button post-item--button-edit">
        <i class="fa fa-lg fa-pencil"></i>
         <!--  <img class="post-item-2-icon-button-edit" src="/img/icon-button-editpost.png" /> -->
        </div>
      </a>  
        <div class="post-item--button post-item--button-delete">
        <i class="fa fa-lg fa-trash-o"></i>
<!--         <img class="post-item-2-icon-button-delete" src="/img/icon-button-deletepost.png" /> -->
      </div>
            {{/if}}

      <a class="post-item--author filter-author" data-author="{{author}}" href="#">{{author}}</a>
    <div class="post-item--date">• {{livestamp submitted}}</div>
<!--     <div class="post-item-2-test-separator" style="margin-top:3px;margin-bottom:3px;;border-top:solid 0.5px grey;width:97%;margin-left:auto;margin-right:auto"></div>
 -->
    {{#if this.imageId}}  
      <div class="post-item--image-wrapper">
        <a class="post-item--image-link" href="../../upload/{{this.imageId}}" target="_blank">
          <img id="img-{{this.imageId}}" data-src="../../upload/{{this.imageId}}" src="img/arrow.png" alt="" class="post-item--image" />
        </a>
      </div>




    {{/if}}
    {{#if body}}
      <div class="post-item--text">{{body}}</div>
      {{/if}}
      {{#if category}}
        <a class="post-item--category filter-category {{selectedCategoryClass}}" data-category="{{this.category}}" href="{{pathFor 'blogPage' _id=blogId query=categoryQuery}}">Catégorie : {{category}}</a><br />
      {{/if}}
      {{#each tags}}
        <a class="post-item--tags filter-tag {{selectedTagClass}}" data-tag="{{this}}" href="#">{{this}}</a>
      {{/each}}
      <span style="display:block;font-size:0.8em;color:grey;margin-top:10px;margin-bottom:8px;">
        {{#if likeAlready}}
          <i style="font-size:1.4em;vertical-align: middle;" class="post-item--already-like fa fa-lg fa-thumbs-up"></i>
          {{#if othersLikes}}
          <span style="vertical-align: middle;"> Vous et {{likesWithoutMe}} personnes(s)</span>
          {{else}}
          <span style="vertical-align: middle;" >Vous aimez</span>
          {{/if}}
        {{else}}
          <i style="font-size:1.4em;vertical-align: middle;" class="post-item--add-like fa fa-lg fa-thumbs-o-up"></i>
          {{#if likes}}
            <span style="vertical-align: middle;">{{likes}} personne(s)</span>
          {{/if}}
        {{/if}}
        </span>
  </div>
  {{#if commentsAllowed}}
  <div class="post-item--comments">
    {{#each comments}}
    <div class="post-item--comment"><span class="post-item--comment-author">{{this.author}} </span><span style="font-size:0.7em;color:grey">• {{livestamp this.submitted}} </span>    <div class="post-item--comment-delete" data-postid="{{../_id}}" data-id="{{this.id}}">x</div>
<p> {{this.text}}</p>
    <div style="margin-top:4px;font-size:0.9em;">
      {{#if likeAlreadyComment}}
      <i style="font-size:1.3em;vertical-align: middle;color:#5996b8" class="post-item--comment-already-like fa fa-lg fa-thumbs-up" data-postid="{{../_id}}" data-id="{{this.id}}"></i>
      {{else}}
          <i style="font-size:1.3em;vertical-align: middle;" class="post-item--comment-add-like fa fa-lg fa-thumbs-o-up" data-postid="{{../_id}}" data-id="{{this.id}}"></i>
      {{/if}}
      {{#if likesComment}}
        <span style="vertical-align: middle;color:grey">{{likesComment}}</span>
        {{/if}}
    </div>
    </div>
    {{/each}}
    <div class="post-item--add-comment">
      <span class="post-item--show-comment-input">Ajouter un commentaire...</span>
      <textarea style="vertical-align:middle" id="comment" class="post-item--add-comment-textarea" name="comment" type="text" data-role="commentinput" placeholder="Ajoutez un commentaire..."></textarea><!-- <span class="post-item-2-add-comment-button">Envoyer</span> -->
    </div>
  </div>
  {{/if}}
</template>