<template name="postsHeader">
	<div class="posts-header">
	    <div class="header">
	    	<div class="header--wrapper">
	    		<a class="header--button-menu-wrapper">
	    			<i class="fa fa-2x fa-bars" style=" vertical-align: middle;"></i>
	    		</a>
		      	<a class="header--button-back-wrapper" href="{{pathFor 'blogsList'}}"><i class="fa fa-2x fa-chevron-left" style=" vertical-align: middle;"></i></a>
		      	<div style="height:29px;display:inline-block;border-left:solid 1px #cfcfcf;margin-top:9px;margin-left:8px;"></div>
		      	<span class="header--button-back-text truncate-text">{{blog.title}} ({{blog.blogCode}})</span>
						<a href="{{pathFor 'postSubmit' _id=this.blog._id}}">
							<button class="button button-secondary posts-header--button-submit"><span><i class="fa fa-plus"></i></span><span class="posts-header--button-text"> Publier</span></button>
						</a>
					{{#if currentUser}}
						<a class="header--button-setings" href="{{pathFor 'blogEdit' _id=this.blog._id}}"><i class="fa fa-lg fa-cog" style="vertical-align:middle"></i></a>
<!-- 		 				<a class="header-2-button-login" href="{{pathFor 'logout'}}"><i class="fa fa-lg fa-sign-out"></i></a>	
 -->		 			{{else}}
<!-- 		 				<a class="header-2-button-login" href="{{pathFor 'login'}}">S'identifier <i class="fa fa-sign-in"></i></a> -->
					{{/if}}
					{{#unless currentUser}}
						<div class="header--select-author-wrapper">
						<select class="header--select-author">
							{{#each authors}}
								<option selected="{{optionIsSelected name}}">{{name}}</option>
							{{/each}}
						</select>
						</div>
					{{/unless}}
			</div>
		</div>
	</div>
</template>