<template name="postEdit">
	<div class="post-edit">

<!-- 		<div class="page-title">Modifier une publication</div>
 -->		<div class="post-edit--wrapper">
			<div class="files post-edit--image-wrapper">
				{{#if file}}
	 				<img src="../../upload/{{file.fileId}}" id="img" alt="" class="post-edit--image"/>
				{{/if}}
			</div>        
			<form name="post-edit--form" id="post-edit--form">
				{{#if file}}
					<div class="post-edit--button-delete-image-wrapper">
						<button class="button button-danger post-edit--button-delete-image" href="#">Supprimer le fichier</button>
					</div>
				{{/if}}
				<textarea name="body" id="body" class="post-edit--textarea" placeholder="Écrivez quelque chose...">{{post.body}}</textarea>
				<div class="post-submit--attach-buttons">
					{{#unless file}}
						{{>postUpload autoStart=true}}
					{{/unless}}
				</div>
				<!-- <input name="tags" type="text" data-role="tagsinput" class="post-edit-2-tags suggest" placeholder="Ajoutez des mots-clés..."/><br /><br /> -->
				<select name="category" class="post-edit--select-categories">
					<option value="" disabled selected >Sélectionnez une catégorie :</option>
					<option value="" >Aucune catégorie</option>
					{{#each categories}}
						<option selected="{{selectedCategory}}">{{name}}</option>
					{{/each}}
				</select>
			</form>
		</div>
		<button href="{{pathFor 'postSubmit'}}" class="button button-primary post-edit--button-submit">
			<i class="post-edit--button-spinner fa fa-spinner fa-pulse" style="display:none;"></i>
			<i class="post-edit--button-icon fa fa-paper-plane"></i>
			<span class="post-edit--button-text"> Modifier</span>
		</button>
	</div>
</template>