<template name="postEdit">
    <div class="post-edit">
        <div class="page-title">Modifier la publication</div>
            <div class="post-edit--wrapper">
                <div class="images post-edit--image-wrapper">
                    {{#if image}}
                        <img src="../../upload/originals/{{image.imageId}}" alt="" class="post-submit--image thumbnail"/>
                    {{/if}}
                </div>
            <form name="post-edit--form" id="post-edit--form">        
                {{#if image}}
                    <div class="post-edit--button-delete-image-wrapper">
                        <button class="button button-danger post-edit--button-delete-image" href="#">Supprimer l'image</button>
                    </div>
                {{else}}
                    {{>uploadForm autoStart=true callbacks=myCallbacks}}
                {{/if}}
                <textarea name="body" id="body" class="post-edit--textarea">{{post.body}}</textarea>

                    <br /><br />
                    <input name="tags" type="text" value={{post.tags}} data-role="tagsinput" class="suggest" placeholder="Ajoutez des tags..."/><br /><br />
                    <select name="category" class="post-submit--select-categories">
                        <option value="" disabled selected >Sélectionnez une catégorie :</option>
                        <option value="" >Aucune catégorie</option>
                        {{#each categories}}
                            <option selected="{{selectedCategory}}">{{name}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>
        <a href="{{pathFor 'postSubmit'}}">
            <button class="button button-primary post-edit--button-submit">
                <i class="post-edit--button-spinner fa fa-spinner fa-pulse" style="display:none;"></i>
                <i class="post-edit--button-icon fa fa-paper-plane"></i>
                    <span class="post-edit--button-text"> Modifier</span>
            </button>
        </a>         
    </div>
</template>
