<template name="postsHeader">
	<div class="posts-header">
	    <div class="header">
	    	<div class="header--wrapper">
		      	<a class="header--logo-title-wrapper" href="{{pathFor 'blogsList'}}">
		      		<img class="header--button-back" src="/img/icon-button-back.png" />
		        	<div class="posts-header--blog-title">{{shortIt title 20}}</div>  
		        </a>   
					{{#if currentUser}}
						<a href="{{pathFor 'postSubmit'}}">
							<button class="button button-secondary posts-header--button-submit"><span><i class="fa fa-plus"></i></span><span class="posts-header--button-text"> Publier</span></button>
						</a>
						<a class="posts-header--logout-button" href="{{pathFor 'logout'}}">{{currentUser.username}} <i class="fa fa-sign-out"></i></a>				
		 			{{else}}
						<a class="posts-header--login-button" href="{{pathFor 'login'}}">S'identifier <i class="fa fa-sign-in"></i>
						</a>
					{{/if}}
			</div>
		</div>
	</div>
</template>