<template name="postItem">
  <div class="post-item">
    {{#if ownPost}}
      <a href="{{pathFor 'postEdit'}}">
        <div class="post-item--button post-item--button-edit">
        <i class="fa fa-lg fa-pencil"></i>
         <!--  <img class="post-item-2-icon-button-edit" src="/img/icon-button-editpost.png" /> -->
        </div>
      </a>	
	      <div class="post-item--button post-item--button-delete">
        <i class="fa fa-lg fa-times-circle"></i>

<!--         <img class="post-item-2-icon-button-delete" src="/img/icon-button-deletepost.png" /> -->
     	</div>
    {{/if}}   
    <a class="post-item--author" href="{{pathFor 'blogPage' _id=blogId query=authorQuery}}">{{author}}</a>
    <div class="post-item--date">• {{livestamp submitted}}</div>
    {{#with image}}
      {{#unless isUploaded}}
        <br /><td class="post-item--spinner"><i class="fa  fa-3x fa-spinner fa-spin"></i></td>
      {{/unless}}
    {{/with}}
    {{#if image}}
      <div class="post-item--image-wrapper">
        <a class="post-item--image-link" href="{{image.url store='images'}}" target="_blank">
          <img src="{{image.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="post-item--image" />
        </a>
      </div>
    {{/if}}
	    <div class="post-item--text">{{body}}</div>
      {{#each tags}}
        <a class="post-item--tags {{selectedTagClass}}" href="{{pathFor 'blogPage' _id=../blogId query=tagQuery}}">{{this}}</a>
      {{/each}}
  </div>
</template>

