/*
layout.css
These target your template regions. They define widths and positioning of your regions in your pages (SMACSS structure)
*/

.header {
	height:46px;
	width:100%;

	box-shadow:0 0 5px 0 #cfcfcf;

	background-color: #77b3d4;
}

.wrapper {
	table-layout: fixed;
	display: table;
	width:100%;

/*	border:solid 1px yellow;
*/}

.main {
	display: table-cell;
	padding: 15px 15px 20px 0px;

/*	border:solid 1px blue;
*/}

.menu {
	width:26%;
	display: table-cell;
	vertical-align: top;
	padding: 25px 0 0 15px;

/*	border:solid 1px red;
*/}

.post {
	margin:10px 0 20px 0;

	border: 1px solid #e2e3e7;

	background-color: white;
}